<div class="wrapper">
    <mona-splitter orientation="horizontal">
        <mona-splitter-pane [size]="300" [collapsible]="true">
            <mona-tree-view [data]="treeData" textField="text" childrenField="items" keyField="id"
                            [monaTreeViewCheckable]="{enabled: true, checkChildren: true, checkParents: true, mode: 'multiple'}"
                            [checkedKeys]="treeCheckedKeys" (checkedKeysChange)="onTreeCheckedKeysChange($event)"
                            monaTreeViewExpandable [expandedKeys]="treeExpandedKeys"
                            (expandedKeysChange)="onTreeExpandedKeysChange($event)"
                            [monaTreeViewSelectable]="{enabled: true, mode: 'single', childrenOnly: true}"
                            [selectedKeys]="treeSelectedKeys"
                            (selectedKeysChange)="onTreeSelectedKeysChange($event)"
                            (nodeDragStart)="onTreeNodeDragStart($event)"
                            (nodeDrag)="onTreeNodeDrag($event)"
                            (nodeDrop)="onTreeNodeDrop($event)"
                            (nodeDragEnd)="onTreeNodeDragEnd($event)"
                            (nodeClick)="onTreeNodeClick($event)"
                            (nodeDoubleClick)="onTreeNodeDoubleClick($event)"
                            monaTreeViewDisable [disabledKeys]="treeDisabledKeys"
            >
                <!--            monaTreeViewDisable [disabledKeys]="treeDisabledKeys"-->
<!--                            <ng-template monaTreeViewNodeTextTemplate let-dataItem>-->
<!--                                <span #anchor>-->
<!--                                    <span style="color: crimson; font-weight: bold;" *ngIf="dataItem.items && dataItem.items?.length !== 0">{{dataItem.text}}</span>-->
<!--                                    <span style="color: snow; font-weight: bold;" *ngIf="!dataItem.items || dataItem.items?.length === 0">{{dataItem.text}}</span>-->
<!--                                </span>-->
<!--                                <mona-contextmenu [target]="anchor">-->
<!--                                    <mona-menu-item text="Print" (menuClick)="print(dataItem)"></mona-menu-item>-->
<!--                                    <mona-menu-item text="Noop"></mona-menu-item>-->
<!--                                    <mona-menu-item text="Refresh" (menuClick)="updateTreeData()"></mona-menu-item>-->
<!--                                </mona-contextmenu>-->
<!--                            </ng-template>-->
            </mona-tree-view>
        </mona-splitter-pane>
        <mona-splitter-pane>
            <mona-tab-strip [keepTabContent]="false" [closable]="false" (tabClose)="onTabStripTabClose($event)">
                <mona-tab [title]="'Grid Tab'">
                    <ng-template monaTabContentTemplate>
                        <div style="padding: 40px;">
                            <mona-grid [data]="gridOrderData" [pageSize]="5"
                                       [pageSizeValues]="[5, 10, 15, 20, 25, 50, 100]" style="height: 400px; margin-bottom: 10px;"
                                       [groupable]="true"
                                       [filterable]="true" [filter]="gridFilters"
                                       (filterChange)="onGridFilterChange($event)"
                                       [resizable]="true"
                                       [sortable]="gridSortOptions" [reorderable]="true" [sort]="gridSort"
                                       (sortChange)="onGridSortChange($event)"
                                       (cellEdit)="onGridCellEdit($event)" [responsivePager]="false"
                                       monaGridEditable
                                       [monaGridSelectable]="{enabled: false, mode:'single'}" selectionKey="OrderID"
                                       [selectedKeys]="gridSelectionKeys"
                                       (selectedKeysChange)="onGridSelectionKeysChange($event)">
                                <mona-grid-column *ngFor="let col of gridOrderColumns" [field]="col.field"
                                                  [title]="col.title" [filterType]="col.filterType">
                                    <!--                                    <ng-template monaGridCellTemplate let-row>-->
                                    <!--                                        <ng-container *ngIf="col.field === 'OrderDate' || col.field==='ShippedDate'">-->
                                    <!--                                            {{row.data[col.field] | date: 'dd/MM/yyyy'}}-->
                                    <!--                                        </ng-container>-->
                                    <!--                                        <ng-container *ngIf="col.field !== 'OrderDate' && col.field!=='ShippedDate'">-->
                                    <!--                                            {{row.data[col.field]}}-->
                                    <!--                                        </ng-container>-->
                                    <!--                                    </ng-template>-->
                                </mona-grid-column>
                            </mona-grid>
                            <mona-grid [data]="gridProductData" [pageSize]="5" [pageSizeValues]="[5,10,15,20,25,50,100]"
                                       style="height: 400px">
                                <mona-grid-column title="Avatar" [width]="70">
                                    <ng-template monaGridColumnTitleTemplate>
                                        <span style="color: red; width: 100%; display: flex; justify-content: center;">Avatar</span>
                                    </ng-template>
                                    <ng-template monaGridCellTemplate>
                                        <img
                                            [ngSrc]="'https://photos.smugmug.com/photos/i-ZfvdSzh/0/Ti/i-ZfvdSzh-Ti.png'"
                                            [width]="60" [height]="60" style="border: 2px solid black;">
                                    </ng-template>
                                </mona-grid-column>
                                <mona-grid-column *ngFor="let col of gridProductColumns" [field]="col.field"
                                                  [title]="col.title"></mona-grid-column>
                                <mona-grid-column title="Slider">
                                    <ng-template monaGridCellTemplate>
                                        <mona-slider style="width: 200px;" [ngModel]="sliderValue"
                                                     (ngModelChange)="onSliderValueChange($event)"></mona-slider>
                                    </ng-template>
                                </mona-grid-column>
                                <mona-grid-column [title]="'Progress'">
                                    <ng-template monaGridCellTemplate>
                                        <mona-progress-bar [value]="sliderValue*10" [disabled]="false" [min]="0"
                                                           [max]="100"
                                                           [color]="progressBarColorSelector"
                                                           [labelStyles]="{'font-weight': 'bolder'}"
                                                           [labelVisible]="false" [labelFormat]="progressLabelFormatter"
                                                           [indeterminate]="switchValue"
                                                           labelPosition="end"></mona-progress-bar>
                                    </ng-template>
                                </mona-grid-column>
                            </mona-grid>
                        </div>
                    </ng-template>
                </mona-tab>
                <mona-tab [title]="'TAB I'" [closable]="false" [selected]="true">
                    <ng-template monaTabTitleTemplate>
                        <span style="color: deeppink; font-weight: bold;">Components</span>
                    </ng-template>
                    <ng-template monaTabContentTemplate>
                        <div>
                            <mona-menubar>
                                <mona-menu text="File" [disabled]="menuBarMenuVisible">
                                    <mona-menu-item text="New"></mona-menu-item>
                                    <mona-menu-item text="Open"></mona-menu-item>
                                    <mona-menu-item text="Save"></mona-menu-item>
                                    <mona-menu-item text="Save As"></mona-menu-item>
                                    <mona-menu-item text="Exit">
                                        <ng-template monaMenuItemTextTemplate>
                                            <span
                                                style="color: crimson; font-weight: bolder; font-size: 14px;">Exit</span>
                                        </ng-template>
                                    </mona-menu-item>
                                </mona-menu>
                                <mona-menu text="Edit" [disabled]="false">
                                    <mona-menu-item text="Undo"></mona-menu-item>
                                    <mona-menu-item text="Redo"></mona-menu-item>
                                    <mona-menu-item text="Cut"></mona-menu-item>
                                    <mona-menu-item text="Copy">
                                        <mona-menu-item text="Copy 1"></mona-menu-item>
                                        <mona-menu-item text="Copy 2"></mona-menu-item>
                                        <mona-menu-item text="Copy 3"></mona-menu-item>
                                    </mona-menu-item>
                                    <mona-menu-item text="Paste">
                                        <mona-menu-item text="Paste 1" [disabled]="true"></mona-menu-item>
                                        <mona-menu-item text="Paste 2">
                                            <mona-menu-item text="Paste 2.1"></mona-menu-item>
                                            <mona-menu-item text="Paste 2.2"></mona-menu-item>
                                            <mona-menu-item text="Paste 2.3"
                                                            (menuClick)="print($event)"></mona-menu-item>
                                        </mona-menu-item>
                                        <mona-menu-item text="Paste 3"></mona-menu-item>
                                    </mona-menu-item>
                                    <mona-menu-item text="Delete"></mona-menu-item>
                                </mona-menu>
                                <mona-menu text="View" [disabled]="false">
                                    <mona-menu-item text="Zoom In"></mona-menu-item>
                                    <mona-menu-item text="Zoom Out"></mona-menu-item>
                                    <mona-menu-item text="Zoom To"></mona-menu-item>
                                    <mona-menu-item text="Zoom All"></mona-menu-item>
                                    <mona-menu-item text="Zoom Extents"></mona-menu-item>
                                    <mona-menu-item text="Zoom Previous"></mona-menu-item>
                                    <mona-menu-item text="Zoom Window"></mona-menu-item>
                                    <ng-template monaMenuTextTemplate let-text>
                                        <span style="color: #00a86b; font-weight: bold;">{{text}}</span>
                                    </ng-template>
                                </mona-menu>
                                <mona-menu text="Tools" [disabled]="menuBarMenuVisible" *ngIf="menuBarMenuVisible">
                                    <mona-menu-item text="Options"></mona-menu-item>
                                    <mona-menu-item text="Settings"></mona-menu-item>
                                    <mona-menu-item text="Preferences"></mona-menu-item>
                                </mona-menu>
                            </mona-menubar>
                        </div>
                        <div class="component-container" style="padding: 10px;">
                            <div>
                                <button monaButton>Button 1</button>
                                <button monaButton>Button 2</button>
                                <button monaButton [flat]="true">Flat Button</button>
                                <button monaButton [primary]="true">Primary Button</button>
                                <button monaButton [disabled]="true">Disabled Button</button>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <mona-button-group selection="multiple">
                                    <button monaButton [toggleable]="true">B</button>
                                    <button monaButton [toggleable]="true">I</button>
                                    <button monaButton [toggleable]="true">U</button>
                                    <button monaButton [toggleable]="true" [(selected)]="buttonGroupButtonSelected">
                                        <span style="text-decoration: line-through;">S</span>
                                    </button>
                                </mona-button-group>
                                <mona-button-group selection="multiple">
                                    <button monaButton [toggleable]="true">Left</button>
                                    <button monaButton [toggleable]="true">Center</button>
                                    <button monaButton [toggleable]="true" [(selected)]="buttonGroupButtonSelected">Right</button>
                                </mona-button-group>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <button monaButton>Line 1</button>
                                <mona-combo-box [data]="dropdownListDataItems" textField="text" valueField="value"
                                                groupField="group" [filterable]="false"
                                                style="width: 200px;" [disabled]="false"
                                                [showClearButton]="true" [allowCustomValue]="true"
                                                [valueNormalizer]="comboBoxValueNormalizer$"
                                                [value]="selectedComboBoxDataItem" [itemDisabler]="dropdownItemDisabler"
                                                (valueChange)="onComboBoxValueChange($event)">
                                    <ng-template monaComboBoxGroupTemplate let-group>
                                        <span style="color: crimson; font-weight: bold;">{{group}}</span>
                                    </ng-template>
                                </mona-combo-box>
                                <mona-auto-complete [data]="dropdownListDataItems" textField="text" valueField="value"
                                                    groupField="group" [showClearButton]="true"
                                                    [value]="autoCompleteValue"
                                                    (valueChange)="onAutoCompleteValueChange($event)"
                                                    style="width: 200px;"></mona-auto-complete>
                                <input monaTextBox [ngModel]="textBoxValue">
                                <!--                                <mona-text-box [ngModel]="textBoxValue"></mona-text-box>-->

                                <mona-drop-down-list [data]="dropdownListDataItems" textField="text" valueField="value"
                                                     groupField="group" [filterable]="true" [disabled]="false"
                                                     [showClearButton]="true" placeholder="Select an item..."
                                                     [value]="selectedDropdownListDataItem"
                                                     [itemDisabler]="dropdownItemDisabler"
                                                     (valueChange)="onDropDownValueChange($event)"
                                                     style="width: 200px; ">
                                    <ng-template monaDropDownListItemTemplate let-dataItem let-listItem="listItem">
                                        <span style="color: deeppink;"
                                              *ngIf="dataItem.value % 3 === 0 && !listItem.disabled">{{dataItem.text}}</span>
                                        <span style="color: dodgerblue;"
                                              *ngIf="dataItem.value % 3 !== 0 && !listItem.disabled">{{dataItem.text}}</span>
                                        <span *ngIf="listItem.disabled">{{dataItem.text}}</span>
                                    </ng-template>
                                    <ng-template monaDropDownListValueTemplate let-dataItem>
                                        <span style="color: darkorange; font-weight: 600;">{{dataItem?.text}}</span>
                                    </ng-template>
                                    <ng-template monaDropDownListGroupTemplate let-group>
                                        <span style="color: crimson; font-weight: bold;">{{group}}</span>
                                    </ng-template>
                                </mona-drop-down-list>
                                <mona-multi-select [data]="dropdownListDataItems" textField="text" valueField="value"
                                                   groupField="group"
                                                   style="width: auto; min-width: 200px;"
                                                   [monaMultiSelectSummaryTag]="multiSelectTagCount" [filterable]="true"
                                                   [showClearButton]="true"
                                                   [value]="selectedMultiSelectDataItems"
                                                   (valueChange)="onMultiSelectValueChange($event)">
                                    <ng-template monaMultiSelectItemTemplate let-dataItem>
                                        <span style="color: greenyellow; font-weight: bold">{{dataItem.text}}</span>
                                    </ng-template>
                                    <ng-template monaMultiSelectGroupTemplate let-group>
                                        <span
                                            style="color: deepskyblue; font-weight: bold">{{group.toUpperCase()}}</span>
                                    </ng-template>
                                    <ng-template monaMultiSelectSummaryTagTemplate let-dataItems>
                                        <span style="color: deeppink;"><span
                                            style="font-weight: bold; color: deepskyblue;">+{{dataItems.length - multiSelectTagCount}}</span> items</span>
                                    </ng-template>
                                </mona-multi-select>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <button monaButton>Line 2</button>

                                <mona-date-picker format="d/M/yyyy" style="width: 250px;" [readonly]="false"
                                                  [min]="dateMin" [max]="dateMax" [value]="datePickerValue"
                                                  (valueChange)="onDatePickerValueChange($event)"></mona-date-picker>

                                <mona-time-picker [hourFormat]="dateFormat24Hours ? '24':'12'" [showSeconds]="true"
                                                  [value]="timePickerValue"
                                                  (valueChange)="onTimePickerValueChange($event)"
                                                  [format]="dateFormat24Hours ? 'HH:mm:ss' : 'hh:mm:ss a'"
                                                  style="width: 200px;"></mona-time-picker>

                                <mona-date-time-picker format="dd/MM/yyyy hh:mm a" style="width: 250px;"
                                                       [hourFormat]="dateFormat24Hours ? '24' : '12'" [readonly]="false"
                                                       [value]="dateTimePickerValue"
                                                       (valueChange)="onDateTimePickerValueChange($event)"></mona-date-time-picker>

                                <mona-switch [labelOff]="'12'" labelOn="24" [(ngModel)]="dateFormat24Hours"
                                             style="margin-right: 5px;"></mona-switch>

                                <mona-switch labelOn="ON" labelOff="OFF" [ngModel]="switchValue" [disabled]="true"
                                             (ngModelChange)="onSwitchValueChange($event)">
                                    <ng-template monaSwitchOffLabelTemplate>
                                        <fa-icon [icon]="moonIcon" style="color: orange;"></fa-icon>
                                    </ng-template>
                                    <ng-template monaSwitchOnLabelTemplate>
                                        <fa-icon [icon]="sunIcon" style="color: yellow;"></fa-icon>
                                    </ng-template>
                                </mona-switch>

                                <mona-color-picker [palette]="colorPalette" [ngModel]="colorPickerValue"
                                                   (ngModelChange)="onColorPickerValueChange($event)"
                                                   [value]="colorPickerValue" (valueChange)="onColorPickerValueChange($event)"
                                                   ></mona-color-picker>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <button monaButton [disabled]="false" [primary]="false" [selected]="false"
                                        [toggleable]="false"
                                        (selectedChange)="onButtonSelectedChange($event)" (click)="openPopup($event)"
                                        #testButtonRef>Line 3
                                    <mona-tooltip [target]="testButtonRef" position="bottom">
                                        <!--                                        <span style="font-weight: bold; font-size: 24px;">Test Button Tooltip</span>-->
                                        <img
                                            src="https://photos.smugmug.com/Shared/Image/i-WG27Dmp/0/38cbf7f2/4K/colorful-liquid-flow-abstract-digital-art-uhdpaper.com-4K-8.1392-4K.jpg"
                                            style="width: 480px; height: 270px;" alt="Tooltip Image"/>
                                    </mona-tooltip>
                                </button>

                                <button monaButton (click)="openWindow(windowTitleTemplate)">Show Window</button>

                                <button monaButton (click)="showNotification()">Show Notification</button>

                                <button monaButton (click)="showDialog()">Show Dialog</button>

                                <button monaButton #tooltipComponentAnchor style="margin-right: 5px;">Tooltip Component
                                    Anchor
                                </button>
                                <mona-tooltip [target]="tooltipComponentAnchor" position="top">
                                    <span style="color: #95c5cb; font-weight: bold;">Tempest</span>
                                </mona-tooltip>

                                <ng-template #windowTitleTemplate>
                                    <span style="color: crimson; font-weight: bolder;">Templated Window Title</span>
                                </ng-template>

                                <mona-numeric-text-box [readonly]="true" [min]="-4" [step]="0.7"
                                                       [(ngModel)]="numericTextBoxValue"
                                                       [formatter]="numericTextBoxFormatter"
                                                       style="width: 200px;"></mona-numeric-text-box>

                                <mona-split-button text="Split Button"
                                                   (buttonClick)="print('Split Button Main Button Clicked.')"
                                                   [disabled]="false">
                                    <ng-template monaSplitButtonTextTemplate>
                                        <span style="color: mediumspringgreen;">Split Button</span>
                                    </ng-template>
                                    <mona-menu-item text="Split Menu I"></mona-menu-item>
                                    <mona-menu-item text="Split Menu II" iconClass="fa fa-file">
                                        <mona-menu-item text="Split Menu II I"></mona-menu-item>
                                        <mona-menu-item text="Split Menu II II"
                                                        (menuClick)="print('SMIIII')"></mona-menu-item>
                                    </mona-menu-item>
                                    <mona-menu-item text="Split Menu III" iconClass="fa fa-search"></mona-menu-item>
                                </mona-split-button>
                            </div>

                            <div style="display: flex; align-items: center; margin-top: 40px;">
                                <mona-stepper orientation="horizontal" [steps]="stepperSteps" [step]="stepperStep" (stepChange)="onStepperStepChange($event)" [linear]="true" style="width: 600px;">
                                    <ng-template monaStepperLabelTemplate let-step let-index="index" let-active="active">
                                        <span *ngIf="!active" style="color: snow; font-weight: bolder;">{{index+1}}. {{step.label}}</span>
                                        <span *ngIf="active" style="color: teal; font-weight: bolder;">{{index+1}}. {{step.label}}</span>
                                    </ng-template>
                                    <ng-template monaStepperIndicatorTemplate let-step let-index="index">
                                        <span style="color: snow; font-weight: bold;">{{step.label.substring(0,2).toUpperCase()}}</span>
                                    </ng-template>
                                    <ng-template monaStepperStepTemplate let-step let-index="index" let-active="active">
                                        <fa-icon [icon]="snowflakeIcon" style="font-size: 24px; margin-top: 0px;" [ngStyle]="{'color': active?'#6daf76':'#95c5cb'}"></fa-icon>
                                    </ng-template>
                                </mona-stepper>
                            </div>

                            <div style="display: flex; align-items: center; justify-content: center; margin-top: 40px;">
                                <mona-slider orientation="horizontal" labelPosition="before" [ngModel]="sliderValue" (ngModelChange)="print($event)" style="width: 400px;">
                                    <ng-template monaSliderTickValueTemplate let-value>
                                        <fa-icon [icon]="moonIcon" *ngIf="value % 2 === 0"
                                                 style="color: mediumpurple;"></fa-icon>
                                        <fa-icon [icon]="sunIcon" *ngIf="value % 2 !== 0"
                                                 style="color: #fafd0f;"></fa-icon>
                                    </ng-template>
                                </mona-slider>
                                <mona-numeric-text-box [(ngModel)]="sliderValue"></mona-numeric-text-box>
                            </div>

                            <div style="display: flex; align-items: center; justify-content: center;">
                                <mona-range-slider orientation="horizontal"
                                                    [ngModel]="rangedSliderValues"
                                                    (ngModelChange)="onRangedSliderValueChange($event)"
                                                    style="width: 400px;">
                                    <ng-template monaRangeSliderTickValueTemplate let-value>
                                        <fa-icon [icon]="moonIcon" *ngIf="value % 2 === 0"
                                                 style="color: mediumpurple;"></fa-icon>
                                        <fa-icon [icon]="sunIcon" *ngIf="value % 2 !== 0"
                                                 style="color: #fafd0f;"></fa-icon>
                                    </ng-template>
                                </mona-range-slider>
                                <mona-numeric-text-box [ngModel]="rangedSliderValues[0]" (ngModelChange)="rangedSliderValues=[+$event!, rangedSliderValues[1]]"></mona-numeric-text-box>
                                <mona-numeric-text-box [ngModel]="rangedSliderValues[1]" (ngModelChange)="rangedSliderValues=[rangedSliderValues[0], +$event!]"></mona-numeric-text-box>
                            </div>

                            <div style="display: flex; align-items: center; justify-content: center; margin-top: 40px;">
                                <mona-slider orientation="vertical" labelPosition="after" [ngModel]="11" (ngModelChange)="print($event)" style="height: 400px; margin-right: 0;">
<!--                                    <ng-template monaSliderTickValueTemplate let-value>-->
<!--                                        <fa-icon [icon]="moonIcon" *ngIf="value % 2 === 0"-->
<!--                                                 style="color: mediumpurple;"></fa-icon>-->
<!--                                        <fa-icon [icon]="sunIcon" *ngIf="value % 2 !== 0"-->
<!--                                                 style="color: #fafd0f;"></fa-icon>-->
<!--                                    </ng-template>-->
                                </mona-slider>
                                <mona-range-slider orientation="vertical"
                                                    [ngModel]="[7, 13]"
                                                    (ngModelChange)="print($event)"
                                                    style="height: 400px;">
                                    <ng-template monaRangeSliderTickValueTemplate let-value>
                                        <fa-icon [icon]="moonIcon" *ngIf="value % 2 === 0"
                                                 style="color: mediumpurple;"></fa-icon>
                                        <fa-icon [icon]="sunIcon" *ngIf="value % 2 !== 0"
                                                 style="color: #fafd0f;"></fa-icon>
                                    </ng-template>
                                </mona-range-slider>
                            </div>
                        </div>
                    </ng-template>
                </mona-tab>
                <mona-tab title="Expansion Panel" [disabled]="false">
                    <ng-template monaTabContentTemplate>
                        <div style="width: 100%; height: 100%; padding: 20px;">
                            <mona-expansion-panel title="Panel {{x}}" *ngFor="let x of [1,2,3]">
                                This is the content for panel {{x}}.
                                <ng-template monaExpansionPanelTitleTemplate>
                                    <fa-icon [icon]="snowflakeIcon" style="color: powderblue;"></fa-icon>
                                    <span style="color: var(--mona-text); margin-left: 5px; font-weight: bold;">Panel {{x}}</span>
                                </ng-template>
                                <ng-template monaExpansionPanelActionsTemplate>
                                    <button monaButton [flat]="true">
                                        <fa-icon [icon]="snowflakeIcon"></fa-icon>
                                    </button>
                                </ng-template>
                            </mona-expansion-panel>

                            <textarea monaTextArea [(ngModel)]="numericTextBoxValue" rows="4"
                                      style="width: 422px; margin-top: 10px;"></textarea>

                            <div>
                                <input type="checkbox" monaCheckBox id="checkbox1" [indeterminate]="true"/>
                                <label for="checkbox1" style="margin-right: 10px;">Checkbox Label 1</label>

                                <input type="radio" monaRadioButton id="radioButton1" name="A" [checked]="true"
                                       [disabled]="false"/>
                                <label for="radioButton1">Radio Button Label 1</label>

                                <input type="radio" monaRadioButton id="radioButton2" name="A"/>
                                <label for="radioButton2">Radio Button Label 2</label>

                                <input type="radio" monaRadioButton id="radioButton3" name="A" [disabled]="true"/>
                                <label for="radioButton3">Radio Button Label 3</label>
                            </div>
                        </div>
                    </ng-template>
                </mona-tab>
                <!--                <mona-tab [title]="item"  *ngFor="let item of dropdownPrimitiveDataItems |slice:0:5; let ix=index;">-->
                <!--                    <ng-template monaTabContentTemplate>-->
                <!--                        {{item}}-->
                <!--                    </ng-template>-->
                <!--                </mona-tab>-->
                <mona-tab title="Splitter">
                    <ng-template monaTabContentTemplate>
                        <div style="width: 100%; height: 100%;">
                            <mona-splitter style="height: 100%;" orientation="vertical">
                                <mona-splitter-pane [collapsible]="true">
                                    <div style="width: 100%; height: 100%; padding: 20px;">
                                        <button monaButton>Open Dialog</button>
                                    </div>
                                </mona-splitter-pane>
                                <mona-splitter-pane [collapsible]="true">

                                    <mona-splitter orientation="horizontal">
                                        <mona-splitter-pane [collapsible]="true">
                                            <div style="width: 100%; height: 100%; padding: 20px;">
                                                <mona-calendar [(value)]="calendarValue"
                                                               style="width: 300px;"></mona-calendar>
                                            </div>
                                        </mona-splitter-pane>
                                        <mona-splitter-pane [collapsible]="true">
                                            <div style="width: 100%; height: 100%; padding: 20px;">
                                                <button monaButton>Open Dialog</button>
                                            </div>
                                        </mona-splitter-pane>
                                    </mona-splitter>

                                </mona-splitter-pane>
                                <mona-splitter-pane [collapsible]="true" [resizable]="false" [size]="40">
                                    <div style="width: 100%; height: 100%; padding: 2px;">
                                        <!--                                        <button monaButton>Open Dialog</button>-->
                                        <mona-drop-down-list [data]="[1,2,3,4,5,6,7,8,9]"></mona-drop-down-list>

                                    </div>
                                </mona-splitter-pane>
                            </mona-splitter>
                        </div>
                    </ng-template>
                </mona-tab>
                <mona-tab *ngFor="let t of tabData" title="TAB TITLE: {{t.title}}" [closable]="true"></mona-tab>
            </mona-tab-strip>
        </mona-splitter-pane>
    </mona-splitter>
</div>

<ng-template #popupContentTemplate>
    <p>Popup Content</p>
</ng-template>

<ng-template #popupContentTemplate2>
    <span style="color: deeppink;">Pink Text Popup Template</span>
</ng-template>
