<div class="wrapper">
    <mona-splitter orientation="horizontal">
        <mona-splitter-pane [size]="300" [collapsible]="true" >
            <mona-tree-view [data]="treeData" textField="text" childrenField="items" keyField="id"
                            [monaTreeViewCheckable]="{enabled: true, checkChildren: true, checkParents: true, mode: 'multiple'}"
                            [checkedKeys]="treeCheckedKeys" (checkedKeysChange)="onTreeCheckedKeysChange($event)"
                            monaTreeViewExpandable [expandedKeys]="treeExpandedKeys"
                            (expandedKeysChange)="onTreeExpandedKeysChange($event)"
                            [monaTreeViewSelectable]="{enabled: true, mode: 'single', childrenOnly: true}"
                            [selectedKeys]="treeSelectedKeys"
                            (selectedKeysChange)="onTreeSelectedKeysChange($event)"
                            (nodeDragStart)="onTreeNodeDragStart($event)"
                            (nodeDrag)="onTreeNodeDrag($event)"
                            (nodeDrop)="onTreeNodeDrop($event)"
                            (nodeDragEnd)="onTreeNodeDragEnd($event)"
                            (nodeClick)="onTreeNodeClick($event)"
                            (nodeDoubleClick)="onTreeNodeDoubleClick($event)"
                            monaTreeViewDisable [disabledKeys]="treeDisabledKeys"
            >
                <!--            monaTreeViewDisable [disabledKeys]="treeDisabledKeys"-->
                <!--            <ng-template monaTreeViewNodeTextTemplate let-dataItem>-->
                <!--                <span #anchor>-->
                <!--                    <span style="color: crimson; font-weight: bold;" *ngIf="dataItem.items && dataItem.items?.length !== 0">{{dataItem.text}}</span>-->
                <!--                    <span style="color: snow; font-weight: bold;" *ngIf="!dataItem.items || dataItem.items?.length === 0">{{dataItem.text}}</span>-->
                <!--                </span>-->
                <!--                <mona-contextmenu [target]="anchor">-->
                <!--                    <mona-menu-item text="AAA" (menuClick)="print(dataItem)"></mona-menu-item>-->
                <!--                    <mona-menu-item text="BBB"></mona-menu-item>-->
                <!--                    <mona-menu-item text="CCC" (menuClick)="updateTreeData()"></mona-menu-item>-->
                <!--                </mona-contextmenu>-->
                <!--            </ng-template>-->
            </mona-tree-view>
        </mona-splitter-pane>
        <mona-splitter-pane>
            <mona-tab-strip [keepTabContent]="true" [closable]="false" (tabClose)="onTabStripTabClose($event)">
                <mona-tab [title]="'Grid Tab'" >
                    <ng-template monaTabContentTemplate>
                        <div style="padding: 40px;">
                            <mona-grid [data]="gridOrderData" [pageSize]="5" [pageSizeValues]="[5, 10, 15, 20, 25, 50, 100]" style="height: 400px;"
                                       [groupable]="true"
                                       [filterable]="true" [filter]="gridFilters" (filterChange)="onGridFilterChange($event)"
                                       [resizable]="true"
                                       [sortable]="gridSortOptions" [reorderable]="true" [sort]="gridSort" (sortChange)="onGridSortChange($event)"
                                       (cellEdit)="onGridCellEdit($event)" [responsivePager]="false"
                                       monaGridEditable
                                [monaGridSelectable]="{enabled: true, mode:'multiple'}" selectionKey="OrderID" [selectedKeys]="gridSelectionKeys" (selectedKeysChange)="onGridSelectionKeysChange($event)">
                                <mona-grid-column *ngFor="let col of gridOrderColumns" [field]="col.field" [title]="col.title" [filterType]="col.filterType">
<!--                                    <ng-template monaGridCellTemplate let-row>-->
<!--                                        <ng-container *ngIf="col.field === 'OrderDate' || col.field==='ShippedDate'">-->
<!--                                            {{row.data[col.field] | date: 'dd/MM/yyyy'}}-->
<!--                                        </ng-container>-->
<!--                                        <ng-container *ngIf="col.field !== 'OrderDate' && col.field!=='ShippedDate'">-->
<!--                                            {{row.data[col.field]}}-->
<!--                                        </ng-container>-->
<!--                                    </ng-template>-->
                                </mona-grid-column>
                            </mona-grid>
                            <mona-grid [data]="gridProductData" [pageSize]="5" [pageSizeValues]="[5,10,15,20,25,50,100]" style="height: 400px">
                                <mona-grid-column *ngFor="let col of gridProductColumns" [field]="col.field" [title]="col.title"></mona-grid-column>
                            </mona-grid>
                        </div>
                    </ng-template>
                </mona-tab>
                <mona-tab [title]="'TAB I'" [closable]="false" [selected]="true">
                    <ng-template monaTabTitleTemplate>
                        <span style="color: deeppink; font-weight: bold;">Components</span>
                    </ng-template>
                    <ng-template monaTabContentTemplate>
                        <div>
                            <mona-menubar>
                                <mona-menu text="File" [disabled]="menuBarMenuVisible">
                                    <mona-menu-item text="New" ></mona-menu-item>
                                    <mona-menu-item text="Open" ></mona-menu-item>
                                    <mona-menu-item text="Save"></mona-menu-item>
                                    <mona-menu-item text="Save As"></mona-menu-item>
                                    <mona-menu-item text="Exit">
                                        <ng-template monaMenuItemTextTemplate>
                                            <span style="color: crimson; font-weight: bolder; font-size: 14px;">Exit</span>
                                        </ng-template>
                                    </mona-menu-item>
                                </mona-menu>
                                <mona-menu text="Edit" [disabled]="false">
                                    <mona-menu-item text="Undo"></mona-menu-item>
                                    <mona-menu-item text="Redo"></mona-menu-item>
                                    <mona-menu-item text="Cut"></mona-menu-item>
                                    <mona-menu-item text="Copy">
                                        <mona-menu-item text="Copy 1"></mona-menu-item>
                                        <mona-menu-item text="Copy 2"></mona-menu-item>
                                        <mona-menu-item text="Copy 3"></mona-menu-item>
                                    </mona-menu-item>
                                    <mona-menu-item text="Paste">
                                        <mona-menu-item text="Paste 1" [disabled]="true"></mona-menu-item>
                                        <mona-menu-item text="Paste 2">
                                            <mona-menu-item text="Paste 2.1"></mona-menu-item>
                                            <mona-menu-item text="Paste 2.2"></mona-menu-item>
                                            <mona-menu-item text="Paste 2.3" (menuClick)="print($event)"></mona-menu-item>
                                        </mona-menu-item>
                                        <mona-menu-item text="Paste 3"></mona-menu-item>
                                    </mona-menu-item>
                                    <mona-menu-item text="Delete"></mona-menu-item>
                                </mona-menu>
                                <mona-menu text="View" [disabled]="false">
                                    <mona-menu-item text="Zoom In"></mona-menu-item>
                                    <mona-menu-item text="Zoom Out"></mona-menu-item>
                                    <mona-menu-item text="Zoom To"></mona-menu-item>
                                    <mona-menu-item text="Zoom All"></mona-menu-item>
                                    <mona-menu-item text="Zoom Extents"></mona-menu-item>
                                    <mona-menu-item text="Zoom Previous"></mona-menu-item>
                                    <mona-menu-item text="Zoom Window"></mona-menu-item>
                                    <ng-template monaMenuTextTemplate let-text>
                                        <span style="color: #00a86b; font-weight: bold;">{{text}}</span>
                                    </ng-template>
                                </mona-menu>
                                <mona-menu text="Tools" [disabled]="menuBarMenuVisible" *ngIf="menuBarMenuVisible">
                                    <mona-menu-item text="Options"></mona-menu-item>
                                    <mona-menu-item text="Settings"></mona-menu-item>
                                    <mona-menu-item text="Preferences"></mona-menu-item>
                                </mona-menu>
                            </mona-menubar>
                        </div>
                        <div class="component-container" style="width: 100%; height: 100%; padding: 10px;">
                            <div>
                                <button monaButton>Button 1</button>
                                <button monaButton>Button 2</button>
                            </div>
                            <div>
                                <mona-button-group selection="multiple">
                                    <button monaButton [toggleable]="true">B</button>
                                    <button monaButton [toggleable]="true">I</button>
                                    <button monaButton [toggleable]="true">U</button>
                                </mona-button-group>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <button monaButton>Dropdowns</button>
                                <mona-combo-box [data]="dropdownListDataItems" textField="text" valueField="value"
                                                groupField="group" [filterable]="false"
                                                style="width: 200px; margin-right: 20px;" [disabled]="false"
                                                [showClearButton]="true" [allowCustomValue]="true"
                                                [valueNormalizer]="comboBoxValueNormalizer$"
                                                [value]="selectedComboBoxDataItem" [itemDisabler]="dropdownItemDisabler"
                                                (valueChange)="onComboBoxValueChange($event)">
                                    <ng-template monaComboBoxGroupTemplate let-group>
                                        <span style="color: crimson; font-weight: bold;">{{group}}</span>
                                    </ng-template>
                                </mona-combo-box>
                                <mona-auto-complete [data]="dropdownListDataItems" textField="text" valueField="value"
                                                    groupField="group" [showClearButton]="true"
                                                    [value]="autoCompleteValue"
                                                    (valueChange)="onAutoCompleteValueChange($event)"
                                                    style="width: 200px; margin-right: 20px;"></mona-auto-complete>
                                <input monaTextBox [ngModel]="textBoxValue">
<!--                                <mona-text-box [ngModel]="textBoxValue"></mona-text-box>-->

                                <mona-date-picker format="d/M/yyyy" style="width: 250px;" [readonly]="false"
                                                  [min]="dateMin" [max]="dateMax" [value]="datePickerValue"
                                                  (valueChange)="onDatePickerValueChange($event)"></mona-date-picker>

                                <mona-drop-down-list [data]="dropdownListDataItems" textField="text" valueField="value"
                                                     groupField="group" [filterable]="true" [disabled]="false"
                                                     [showClearButton]="true" placeholder="Select an item..."
                                                     [value]="selectedDropdownListDataItem"
                                                     [itemDisabler]="dropdownItemDisabler"
                                                     (valueChange)="onDropDownValueChange($event)"
                                                     style="width: 200px; margin-right: 20px;">
                                    <ng-template monaDropDownListItemTemplate let-dataItem let-listItem="listItem">
                                        <span style="color: deeppink;" *ngIf="dataItem.value % 3 === 0 && !listItem.disabled">{{dataItem.text}}</span>
                                        <span style="color: dodgerblue;" *ngIf="dataItem.value % 3 !== 0 && !listItem.disabled">{{dataItem.text}}</span>
                                        <span *ngIf="listItem.disabled">{{dataItem.text}}</span>
                                    </ng-template>
                                    <ng-template monaDropDownListValueTemplate let-dataItem>
                                        <span style="color: darkorange; font-weight: 600;">{{dataItem?.text}}</span>
                                    </ng-template>
                                    <ng-template monaDropDownListGroupTemplate let-group>
                                        <span style="color: crimson; font-weight: bold;">{{group}}</span>
                                    </ng-template>
                                </mona-drop-down-list>
                                <mona-multi-select [data]="dropdownListDataItems" textField="text" valueField="value"
                                                   groupField="group"
                                                   style="width: auto; min-width: 200px; margin-right: 20px;"
                                                   [monaMultiSelectSummaryTag]="multiSelectTagCount" [filterable]="true"
                                                   [showClearButton]="true"
                                                   [value]="selectedMultiSelectDataItems"
                                                   (valueChange)="onMultiSelectValueChange($event)">
                                    <ng-template monaMultiSelectItemTemplate let-dataItem>
                                        <span style="color: greenyellow; font-weight: bold">{{dataItem.text}}</span>
                                    </ng-template>
                                    <ng-template monaMultiSelectGroupTemplate let-group>
                                        <span
                                            style="color: deepskyblue; font-weight: bold">{{group.toUpperCase()}}</span>
                                    </ng-template>
                                    <ng-template monaMultiSelectSummaryTagTemplate let-dataItems>
                                        <span style="color: deeppink;"><span
                                            style="font-weight: bold; color: deepskyblue;">+{{dataItems.length - multiSelectTagCount}}</span> items</span>
                                    </ng-template>
                                </mona-multi-select>
                            </div>
                        </div>
                    </ng-template>
                </mona-tab>
                <mona-tab title="Expansion Panel">
                    <ng-template monaTabContentTemplate>
                        <div style="width: 100%; height: 100%; padding: 20px;">
                            <mona-expansion-panel title="Panel {{x}}" *ngFor="let x of [1,2,3]">
                                This is the content for panel {{x}}.
                                <ng-template monaExpansionPanelTitleTemplate>
                                    <fa-icon [icon]="snowflakeIcon" style="color: powderblue;"></fa-icon>
                                    <span style="color: snow; margin-left: 5px; font-weight: bold;">Panel {{x}}</span>
                                </ng-template>
                                <ng-template monaExpansionPanelActionsTemplate>
                                    <button monaButton [flat]="true">
                                        <fa-icon [icon]="snowflakeIcon"></fa-icon>
                                    </button>
                                </ng-template>
                            </mona-expansion-panel>

                            <textarea monaTextArea [(ngModel)]="numericTextBoxValue" rows="4"
                                      style="width: 422px;"></textarea>

                            <div>
                                <input type="checkbox" monaCheckBox id="checkbox1" [indeterminate]="true"/>
                                <label for="checkbox1" style="margin-right: 10px;">Checkbox Label 1</label>

                                <input type="radio" monaRadioButton id="radioButton1" name="A" [checked]="true"
                                       [disabled]="false"/>
                                <label for="radioButton1">Radio Button Label 1</label>

                                <input type="radio" monaRadioButton id="radioButton2" name="A"/>
                                <label for="radioButton2">Radio Button Label 2</label>
                            </div>
                        </div>
                    </ng-template>
                </mona-tab>
                <!--                <mona-tab [title]="item"  *ngFor="let item of dropdownPrimitiveDataItems |slice:0:5; let ix=index;">-->
                <!--                    <ng-template monaTabContentTemplate>-->
                <!--                        {{item}}-->
                <!--                    </ng-template>-->
                <!--                </mona-tab>-->
                <mona-tab title="Splitter" >
                    <ng-template monaTabContentTemplate>
                        <div style="width: 100%; height: 100%;">
                            <mona-splitter style="height: 100%;" orientation="vertical">
                                <mona-splitter-pane  [collapsible]="true">
                                    <div style="width: 100%; height: 100%; padding: 20px;">
                                        <button monaButton>Open Dialog</button>
                                    </div>
                                </mona-splitter-pane>
                                <mona-splitter-pane  [collapsible]="true">

                                    <mona-splitter orientation="horizontal">
                                        <mona-splitter-pane [collapsible]="true">
                                            <div style="width: 100%; height: 100%; padding: 20px;">
                                                <mona-calendar [(value)]="calendarValue" style="width: 300px;"></mona-calendar>
                                            </div>
                                        </mona-splitter-pane>
                                        <mona-splitter-pane [collapsible]="true">
                                            <div style="width: 100%; height: 100%; padding: 20px;">
                                                <button monaButton>Open Dialog</button>
                                            </div>
                                        </mona-splitter-pane>
                                    </mona-splitter>

                                </mona-splitter-pane>
                                <mona-splitter-pane  [collapsible]="true" [resizable]="false" [size]="40">
                                    <div style="width: 100%; height: 100%; padding: 2px;">
<!--                                        <button monaButton>Open Dialog</button>-->
                                        <mona-drop-down-list [data]="[1,2,3,4,5,6,7,8,9]"></mona-drop-down-list>

                                    </div>
                                </mona-splitter-pane>
                            </mona-splitter>
                        </div>
                    </ng-template>
                </mona-tab >
                <mona-tab *ngFor="let t of tabData" title="TAB TITLE: {{t.title}}" [closable]="true"></mona-tab>
            </mona-tab-strip>
        </mona-splitter-pane>
    </mona-splitter>
</div>

<ng-template #popupContentTemplate>
    <p>Popup Content</p>
</ng-template>

<ng-template #popupContentTemplate2>
    <span style="color: deeppink;">Pink Text Popup Template</span>
</ng-template>
