<div class="wrapper">

    <div>
        <button monaButton [disabled]="false" [primary]="false" [selected]="false" [toggleable]="false"
                (selectedChange)="onButtonSelectedChange($event)" (click)="openPopup($event)" #testButtonRef>Test Button
        </button>
    </div>

    <div>
        <mona-button-group selection="multiple">
            <button monaButton [toggleable]="true">B</button>
            <button monaButton [toggleable]="true" (click)="openPopup2($event)" #italicButtonRef>I</button>
            <button monaButton [toggleable]="true">U</button>
        </mona-button-group>
    </div>

    <div>
        <button monaButton #popupComponentAnchor>Popup Component Anchor</button>
        <mona-popup [anchor]="popupComponentAnchor" trigger="click" [width]="popupComponentAnchor.offsetWidth" [offset]="{vertical: 0.5}"
            (close)="onPopupClosed()" (open)="onPopupOpened($event)">
            <ng-template>
                <span style="color: #f0c420;">Moonlight Sonata</span>
            </ng-template>
        </mona-popup>
    </div>

    <div>
        <mona-split-button>
            <span style="color: mediumvioletred">Split Button</span>
        </mona-split-button>
    </div>

    <div>
        <button monaButton #contextMenuAnchor>
            <span style="color: lightcoral;">Context Menu Target</span>
        </button>
        <mona-contextmenu [target]="contextMenuAnchor">
            <mona-menu-item text="File"></mona-menu-item>
            <mona-menu-item text="Edit" [disabled]="true">
                <mona-menu-item text="Undo" (menuClick)="print('Undo clicked.')"></mona-menu-item>
                <mona-menu-item text="Redo"></mona-menu-item>
            </mona-menu-item>
            <mona-menu-item text="View" (menuClick)="print('View clicked.')"></mona-menu-item>
            <mona-menu-item [divider]="true"></mona-menu-item>
            <mona-menu-item text="Search">
                <mona-menu-item text="Find">
                    <mona-menu-item text="Find Next" [disabled]="true"></mona-menu-item>
                    <mona-menu-item text="Find Previous" [disabled]="false" (menuClick)="print('Find Previous clicked.')"></mona-menu-item>
                </mona-menu-item>
                <mona-menu-item text="Replace"></mona-menu-item>
            </mona-menu-item>
        </mona-contextmenu>
    </div>

</div>

<ng-template #popupContentTemplate>
    <p>Popup Content</p>
</ng-template>

<ng-template #popupContentTemplate2>
    <span style="color: deeppink;">Pink Text Popup Template</span>
</ng-template>

<div monaPopupAnchor></div>
