/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/zop2fdb.css");
@import "dist/mona-ui/styles/kafka";
//@import "dist/mona-ui/styles/base-light";

html, body {
    width: 100%;
    height: 100%;
    background: #202123;
    //background: #f8f8f8;
    scroll-behavior: smooth;
}

//body { font-size: 0.75rem; }

body {
    font-family: "proxima-nova", Helvetica Neue,Helvetica,Arial,sans-serif !important;
}


.popup-noselect {
    user-select: none;
}

.popup-padded {
    padding: 20px;
}

div.mona-tab-strip {
    border: none;
}
