@import "base";

:root {
    --mona-primary-base: 246, 48%;
    --mona-primary-base-lightness: 35%;
    --mona-text-base: 0, 0%;
    --mona-text-base-lightness: 80%;
    --mona-text-inverted: hsl(var(--mona-text-base), calc(var(--mona-text-base-lightness) + 10%));
}
