@import "theme";

:root {
    --mona-background: #fdfdfd;
    --mona-background-light: #ffffff;
    --mona-border-color: #e0e0e0;
    --mona-input-height: 27px;
    --mona-primary: #00a86b;
    --mona-primary-dark: #009860;
    --mona-primary-light: #00b876;
    --mona-shadow-color: #dddddd;
    --mona-text: #000;
}


