@import "theme";

:root {
    --mona-background: #1C1D1F;
    --mona-background-dark: #161719;
    --mona-background-darker: #0B0C0E;
    --mona-background-light: #2D2E30;
    --mona-background-lighter: #3E3F41;
    --mona-border-color: #101114;
    --mona-input-height: 32px;
    --mona-primary: #7701FF;
    --mona-primary-dark: #6600EE;
    --mona-primary-light: #8812FF;
    --mona-popup-shadow: 0 5px 10px -3px var(--mona-shadow-color);
    --mona-shadow-color: #101114;
    --mona-text: #CCCCCC;
}


