@import "theme";

:root {
    --mona-active-shadow: 0 0 10px -3px var(--mona-shadow-color);

    --mona-background-1: #000000;
    --mona-background-2: #0B0C0E;
    --mona-background-3: #131416;
    --mona-background-4: #161719;
    --mona-background-5: #1C1D1F;
    --mona-background-6: #232427;
    --mona-background-7: #262729;
    --mona-background-8: #2A2B2E;
    --mona-background-9: #2D2E31;
    --mona-background-10: #303135;
    --mona-background-11: #333438;
    --mona-background-12: #36373B;

    --mona-background: var(--mona-background-5); // #1C1D1F;
    --mona-background-dark: var(--mona-background-4); // #161719;
    --mona-background-darker: var(--mona-background-2); // #0B0C0E;
    --mona-background-light: var(--mona-background-6); // #232427;
    --mona-background-hover: #1F2022;
    --mona-background-active: #1D1E20;

    --mona-border-color: #101114;
    --mona-focus-border-color: darkgray;

    --mona-primary: #595fa4;
    --mona-primary-hover: #6d75ca;
    --mona-primary-active: #6369b5;
    --mona-primary-dark: #3d4171;

    --mona-success: #32BEA6;
    --mona-error: #FF3055;
    --mona-warning: #FFDA6B;
    --mona-info: #2196F3;
    --mona-confirm: #CCCCFC;

    --mona-popup-shadow: 0 5px 10px -3px var(--mona-shadow-color);
    --mona-shadow-color: #101114;

    --mona-text: #CCCCCC;
    --mona-text-light: #FFFFFF;

    --mona-window-background: #17181A;
    --mona-window-header-background: #131416;
}


