@import '@angular/cdk/overlay-prebuilt.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    background: var(--mona-primary) !important;
    color: var(--mona-text-inverted) !important;
}

::selection {
    background: var(--mona-primary) !important;
    color: var(--mona-text-inverted) !important;
}

input, textarea, button {
    font-family: inherit
}

@mixin disabled {
    pointer-events: none;
    opacity: 0.37;
    cursor: default;
    user-select: none;
}

@mixin font-small {
    font-size: 12px;
    line-height: 1.667;
}

@mixin font-medium {
    font-size: 14px;
    line-height: 1.428571429;
}

@mixin scrollbars {
    scrollbar-color: var(--mona-scrollbar-thumb) var(--mona-scrollbar-track);
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background: var(--mona-scrollbar-track);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--mona-scrollbar-thumb);
        &:hover {
            background-color: var(--mona-scrollbar-thumb-hover);
        }
        border-radius: calc(var(--mona-border-radius) / 2);
    }
    &::-webkit-scrollbar-corner {
        background: var(--mona-background-dark);
    }
}

@mixin scrollbars-thin {
    scrollbar-width: thin;
    @include scrollbars;
}

@mixin scrollbars-thick {
    @include scrollbars;
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
}

/** General **/
.mona-no-animation {
    &, & * {
        transition: none !important;
    }
}

.mona-hidden {
    display: none !important;
}

.mona-invisible {
    visibility: hidden !important;
}

.mona-unselectable {
    &, & * {
        pointer-events: none !important;
        cursor: default;
        user-select: none !important;
    }
}

/** Shared Components **/
.mona-input-selector {
    width: auto;
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    background: var(--mona-background);
    color: var(--mona-text);
    cursor: pointer;
    display: flex;
    outline: none;
    transition: box-shadow 0.15s ease-in;
    &:active {
        background-color: var(--mona-background-active);
    }
    &:hover {
        background-color: var(--mona-background-hover);
    }
    &:focus, &:focus-within {
        box-shadow: var(--mona-focus-shadow);
    }
}

.mona-input-selector-value {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 4px 8px;
    flex: 1;
    overflow: hidden;
    & > span {
        overflow: hidden;
        text-overflow: ellipsis;
        &::before {
            content: "\200b";
        }
    }
    & > mona-text-box {
        height: 100%;
        & div.mona-text-box {
            border-top: none;
            border-bottom: none;
        }
    }
}

.mona-input-selector-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mona-text);
}

div.mona-list {
    @include font-medium;
    & ul {
        @include scrollbars-thin;
        & li {
            color: var(--mona-text);
            &:hover {
                transition: background-color 0.15s ease-out;
                background-color: var(--mona-background-hover);
            }
            &:active:not(.mona-selected) {
                transition: background-color 0.15s ease-out;
                background-color: var(--mona-background-active);
            }
        }

        & li.mona-list-group-header {
            background-color: var(--mona-background-dark);
            border-bottom: 1px solid var(--mona-border-color);
            &:not(:first-child) {
                border-top: 1px solid var(--mona-border-color);
            }
        }

        // TODO: Update this to a better visual style
        & li.mona-highlighted {
            box-shadow: 0 0 0 1px var(--mona-focus-border-color) inset;
        }
        & li.mona-selected {
            background-color: var(--mona-primary);
            color: var(--mona-text-inverted);
        }
        & li.mona-disabled {
            @include disabled;
        }
    }

    & .cdk-virtual-scrollable {
        @include scrollbars-thin;
    }
}

mona-filter-input.mona-list-filter-input {
    & div.mona-text-box {
        background-color: var(--mona-background-lighter);
        & input {
            background-color: transparent;
        }
    }
}

.mona-list-popup-content {
    padding: 0 !important;
    border-top: none !important;
}

div.mona-tree {
    @include font-medium;
}

div.mona-tree-node {
    padding: 4px 8px;
    &:hover {
        box-shadow: inset 0 0 0 1px var(--mona-border-color-dark);
        background-color: var(--mona-background-hover-darker);
    }
    &:active {
        background-color: var(--mona-background-active-darker);
        box-shadow: inset 0 0 0 1px var(--mona-border-color-dark);
    }
    &.mona-selected {
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
        box-shadow: inset 0 0 0 1px var(--mona-selected-border-color);
    }
}

span.mona-tree-node-text {
    color: var(--mona-text);

}

/** Buttons */

/** Button */
button[monaButton] {
    background-color: var(--mona-background);
    color: var(--mona-text);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    outline: none;
    user-select: none;
    cursor: pointer;

    @include font-medium;
    padding: 4px 8px;

    transition: background-color 0.15s ease-out, border 0.15s ease-out, color 0.15s ease-out, box-shadow 0.15s ease-out;

    &.mona-disabled {
        @include disabled;
    }

    &:hover {
        background-color: var(--mona-background-hover);
    }
    &:active {
        background-color: var(--mona-background-active);
    }

    &.mona-primary {
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
        border-color: var(--mona-primary-border-color);
        &:hover {
            background-color: var(--mona-primary-hover);
        }
        &:active {
            background-color: var(--mona-primary-active);
        }
    }

    &.mona-flat {
        background-color: transparent;
        border-color: transparent;
        &:hover {
            background-color: var(--mona-background-hover-dark);
        }
        &:active {
            background-color: var(--mona-background-active-dark);
        }
    }

    &.mona-selected {
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
        border-color: var(--mona-selected-border-color);
        &:hover {
            background-color: var(--mona-primary-hover);
        }
        &:active {
            background-color: var(--mona-primary-active);
        }
    }

    &:focus {
        box-shadow: var(--mona-focus-shadow);
    }
}

/** Button Group */
mona-button-group button[monaButton] {
    border-radius: 0;
    &:not(:last-child) {
        border-right: none;
    }
    &:first-child {
        border-top-left-radius: var(--mona-border-radius);
        border-bottom-left-radius: var(--mona-border-radius);
    }
    &:last-child {
        border-top-right-radius: var(--mona-border-radius);
        border-bottom-right-radius: var(--mona-border-radius);
    }
}

/** Chip */
.mona-chip {
    background-color: var(--mona-background);
    color: var(--mona-text);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    transition: box-shadow 0.15s ease-in;

    & .mona-chip-content {
        font-size: 12px;
        line-height: 1;
    }

    &.mona-disabled {
        @include disabled;
    }

    &:focus {
        box-shadow: var(--mona-focus-shadow);
    }
}

.mona-chip-close {
    background-color: var(--mona-background-dark);
    color: var(--mona-text);
    border-left: 1px solid var(--mona-border-color);

    &:hover {
        background-color: var(--mona-background-hover);
    }
    &:active {
        background-color: var(--mona-background-active);
    }
}
/** Dropdown Button */
.mona-dropdown-button-popup {
    &.mona-dropdown-button-popup-content-bottom {
        & ul {
            border-top-color: transparent !important;
        }
    }
    &.mona-dropdown-button-popup-content-top {
        & ul {
            border-bottom-color: transparent !important;
        }
    }
}

/** Dropdowns */

mona-popup-list-item {
    @include font-medium;
}

.mona-dropdown-popup-list-wrapper {
    height: 100%;
}

ul.mona-list mona-text-box.filter-box {
    & div.mona-text-box {
        border: none !important;
        box-shadow: none !important;
    }
    & input {
        @extend .mona-input-inner;
    }
}

.mona-dropdown {
    @include font-medium;
    display: inline-flex;
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    background: var(--mona-background);
    transition: box-shadow 0.15s ease-in;
    &.mona-disabled {
        @include disabled;
    }
    &:focus, &:focus-within {
        transition: box-shadow 0.1s ease-in;
        box-shadow: var(--mona-focus-shadow);
    }
}

.mona-input-clear-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    cursor: pointer;
    color: var(--mona-text);
    @include font-small;
    &:hover {
        color: var(--mona-text-light);
    }
}

/** Auto Complete */
.mona-auto-complete {
    & .mona-input-selector-value {
        padding: 0;
        & mona-text-box {
            box-shadow: none;
            & div:first-child {
                border-left: none;
                border-right: none;
            }
            & input {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    & .mona-input-selector-icon {
        border-left: 1px solid var(--mona-border-color);
    }
}

/** Combo Box */
.mona-combo-box {
    & .mona-input-selector-value {
        padding: 0;
        & mona-text-box {
            box-shadow: none;
            & div:first-child {
                border-left: none;
                border-right: none;
            }
            & input {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    & .mona-input-selector-icon {
        border-left: 1px solid var(--mona-border-color);
    }
}

/** Calendar */
.mona-calendar {
    background: var(--mona-background);
    color: var(--mona-text);
    border-radius: var(--mona-border-radius);
    @include font-medium;
    & table {
        & td {
            &:hover {
                background-color: var(--mona-background-hover);
            }
            &:active {
                background-color: var(--mona-background-active);
            }
            &.mona-selected {
                background-color: var(--mona-primary);
                color: var(--mona-text-inverted);
            }
            &.mona-disabled {
                @include disabled;
            }
        }
    }
}

table.mona-calendar-month-view-table {
    & thead {
        @include font-small;
    }
}

/** Date Picker */
.mona-date-picker,
.mona-date-time-picker,
.mona-time-picker,
.mona-time-selector {
    &.mona-disabled {
        @include disabled;
    }
    & mona-text-box {
        width: 100%;
        & input[monaTextBox] {
            padding: 4.5px 8px;
        }
        & button[monaButton] {
            padding: 0.25em 0.5em;
        }
    }
}

.mona-date-input-popup {
    flex-direction: column;
    overflow: hidden;

    & mona-calendar  {
        & div.mona-calendar-month-view,
        & div.mona-calendar-year-view,
        & div.mona-calendar-decade-view {
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
        }
    }
}

.mona-calendar-popup-wrapper {
    padding: 8px;
}

/** Time Selector */
div.mona-time-selector {
    & mona-button-group {
        & button {
            padding: 0 8px;
        }
    }
    & ol {
        @include scrollbars;
        font-size: 14px;
        user-select: none;
        & li {
            cursor: pointer;
            &.mona-selected {
                background-color: var(--mona-primary);
                color: var(--mona-text-inverted);
            }
            &:not(.mona-selected):hover {
                background-color: var(--mona-background-hover);
            }
        }
        &:not(:last-child) {
            border-right: 1px solid var(--mona-border-color);
        }
    }
}

div.mona-time-picker-popup {
    padding: 0 !important;
    overflow: hidden;
}

/** Dropdown List */
.mona-dropdown-list {
    & .mona-dropdown-value {
        color: var(--mona-text);
    }
}

.mona-dropdown-no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: var(--mona-disabled-color);
}

.mona-dropdown-popup-content {
    flex-direction: column;
    user-select: none;
    padding: 0 !important;
    overflow: hidden;

    & mona-text-box.filter-box {
        & div.mona-text-box {
            border: none;
            & > span {
                border-right: none;
            }
        }
    }
    @include scrollbars;
}

.mona-dropdown-popup-content ul.mona-list {
    max-height: 250px;
}


.mona-dropdown-popup-content-bottom {
    //border-top: 1px solid transparent !important;
}

.mona-dropdown-popup-content-top {
    //border-bottom: 1px solid transparent !important;
    box-shadow: 0 -3px 10px -3px var(--mona-popup-shadow-color) !important;
}

/** Dropdown Tree */
.mona-dropdown-tree {
    & .mona-dropdown-value {
        color: var(--mona-text);
    }

}

.mona-dropdown-tree-popup-wrapper {
    max-height: 250px;
    padding: 0;
    overflow: hidden;
    & mona-tree-view ul.mona-tree-list {
        max-height: 200px;
        overflow: auto;
        padding-bottom: 4px;
        padding-top: 4px;
        padding-left: 4px;
        @include scrollbars;
    }
    & div.mona-tree-view-filter-container {
        margin-top: 4px;
        padding-left: 4px;
        padding-bottom: 4px;
        margin-bottom: 0 !important;
        border-bottom: 1px solid var(--mona-border-color);
    }
}

mona-filter-input.mona-popup-filter-input,
.mona-dropdown-tree-popup-content mona-filter-input {
    & div.mona-text-box {
        background-color: var(--mona-background-lighter);
        & input {
            background-color: transparent;
        }
    }
}

/** Multi Select */
.mona-multi-select {
    & .mona-input-selector {
        &:hover,
        &:active {
            background-color: var(--mona-background);
        }
    }
    & .mona-input-selector-value {
        & mona-text-box {
            box-shadow: none;
            & div:first-child {
                border: none;
            }
        }
        & mona-chip {
            //height: calc(100% - 2px);
            & div.mona-chip {
                margin-top: 0.5px;
            }
        }
    }
    & .mona-input-selector-icon {
        border-left: 1px solid var(--mona-border-color);
    }
}

/** Filters */
div.mona-filter-menu-item {
    & mona-button-group {
        & button {
            flex: 1;
        }
    }
}


/** Grid */
.mona-grid {
    color: var(--mona-text);
    @include font-medium;
    border-radius: var(--mona-border-radius);
    & mona-pager {
        & .mona-pager {
            border: none;
            border-top: 1px solid var(--mona-border-color);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

.mona-grid-list {
    @include scrollbars-thick;
    & tr {
        &.mona-selected {
            background-color: var(--mona-primary) !important;
            color: var(--mona-text-inverted) !important;
            & td {
                &:focus,
                &:focus-within {
                    & div.mona-grid-cell {
                        &:not(.mona-grid-cell-editing) {
                            outline: none;
                            box-shadow: 0 0 0 1px var(--mona-primary-dark) inset;
                        }
                    }
                }
            }
        }
    }
    & td {
        &:focus,
        &:focus-within {
            & div.mona-grid-cell {
                outline: none;
                box-shadow: 0 0 0 1px var(--mona-primary) inset;
            }
        }
    }
}

button.mona-grid-filtered {
    color: var(--mona-primary-light);
}


.mona-grid-filter-menu-popup-content {
    padding: 0 !important;
    background: var(--mona-background-dark);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    box-shadow: var(--mona-popup-shadow);
}

.mona-grid-column-drag-preview {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    box-shadow: var(--mona-popup-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mona-text);
}

.mona-grid-cell-editing {
    & mona-text-box {
        & div.mona-text-box {
            border: none;
        }
        & input {
            padding-left: 10px;
            padding-right: 10px;
            background: var(--mona-background-lighter);
        }
    }

    & mona-numeric-text-box {
        & div.mona-numeric-text-box {
            border: none;
        }
        & input {
            padding-left: 10px;
            padding-right: 10px;
            background: var(--mona-background-lighter);
        }
    }
}



/** Inputs */

/** Check Box */
input[type="checkbox"][monaCheckBox] {
    display: none;
    & + label {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--mona-text-inverted);
        user-select: none;
        &:before {
            content: " ";
            background-color: var(--mona-background);
            border: 1px solid var(--mona-border-color);
            border-radius: var(--mona-border-radius);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            margin-right: 4px;
            transition: background-color 0.3s ease-out, color 0.3s ease-out, border 0.3s ease-out, box-shadow 0.3s ease-out;
        }
    }
    &:checked + label:before {
        content: "\2714";
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
        border-color: var(--mona-selected-border-color);
    }
    &:disabled + label {
        cursor: default;
        pointer-events: none;
    }
    &:disabled + label:before {
        cursor: default;
        pointer-events: none;
        @include disabled;
        border: 1px solid var(--mona-border-color);
    }
    &:checked:disabled + label:before {
        background-color: var(--mona-disabled-color);
        color: var(--mona-disabled-color);
        @include disabled;
        border: 1px solid var(--mona-border-color);
    }
    &:indeterminate + label:before {
        content: " ";
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
        border: 1px solid var(--mona-selected-border-color);
    }
    &:indeterminate:disabled + label:before {
        @include disabled;
        border: 1px solid var(--mona-selected-border-color);
    }
}

/** Color Gradient */
div.mona-color-gradient-color-area {
    background: var(--mona-background-dark);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
}

div.mona-hsv-rectangle {
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
}

div.mona-color-gradient-preview {
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
}

span.mona-color-gradient-hex-input-prefix {
    font-family: monospace;
    border-right: 1px solid var(--mona-border-color);
    background-color: var(--mona-background-darker);
}

span.mona-color-gradient-value-input-prefix {
    border-right: 1px solid var(--mona-border-color);
    background-color: var(--mona-background-darker);
    color: var(--mona-text);
    font-family: monospace;
}

div.mona-hue-slider {
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
}

div.mona-alpha-slider {
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    & .mona-alpha-slider-color {
        border-radius: var(--mona-border-radius);
    }
    & .mona-alpha-slider-transparency {
        border-radius: var(--mona-border-radius) calc(var(--mona-border-radius) * 2) calc(var(--mona-border-radius) * 2) var(--mona-border-radius);
    }
}

/** Color Palette */
.mona-color-palette {
    & > div.mona-color-cell {
        &.mona-selected {
            box-shadow: 0 0 0 1px var(--mona-border-color) inset;
        }
        &:hover:not(.mona-selected) {
            box-shadow: 0 0 0 1px var(--mona-border-color) inset;
        }
    }
}

/** Color Picker */
.mona-color-picker {
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    background: var(--mona-background);
    & > div:first-child {
        border: 1px solid black;
    }
    & > button {
        color: var(--mona-text);
    }
}

.mona-color-picker-popup {
    overflow: hidden;
    & .mona-color-gradient-color-area {
        border-color: transparent !important;
    }
}

.mona-color-picker-popup-wrapper {
    //background: var(--mona-background);
    padding: 2px;
}

/** Numeric Text Box */
.mona-numeric-text-box {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    transition: box-shadow 0.15s ease-in;
    &.mona-disabled {
        @include disabled;
    }
    &:focus, &:focus-within {
        box-shadow: var(--mona-focus-shadow);
    }
    & button[monaButton] {
        &:first-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

/** Radio Button */
input[type="radio"][monaRadioButton] {
    display: none;
    & + label {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--mona-text);
        user-select: none;
        &:before {
            content: " ";
            background-color: var(--mona-background);
            box-shadow: 0 0 0 1px var(--mona-border-color-dark) inset;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            margin-right: 4px;
            vertical-align: middle;
            color: transparent;
            transition: box-shadow 0.3s ease-out;
        }
    }
    &:disabled + label {
        cursor: default;
        pointer-events: none;
    }
    &:disabled + label:before {
        @include disabled;
    }
    &:checked + label:before {
        content: " ";
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
        border-width: 1px;
        box-shadow: inset 0 0 0 1px var(--mona-primary), inset 0 0 0 3px var(--mona-background);
        transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out;
    }
    &:checked:disabled + label:before {
        @include disabled;
        background-color: var(--mona-primary);
    }
}

/** Range Slider */
div.mona-range-slider {
    &.mona-disabled {
        @include disabled;
    }
}

div.mona-range-slider-track {
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    background-color: var(--mona-background);
}

div.mona-range-slider-selection {
    border: none;
    background-color: var(--mona-primary);
}

span.mona-range-slider-tick-label {
    color: var(--mona-text);
    @include font-small;
}

div.mona-range-slider-handle {
    background-color: var(--mona-primary);
    border: 1px solid var(--mona-primary-border-color);
    border-radius: var(--mona-border-radius);
    transition: box-shadow 0.15s ease-in;
    &:focus {
        box-shadow: var(--mona-focus-shadow);
    }
}

div.mona-range-slider-horizontal {
    & span.mona-range-slider-tick {
        &:first-child {
            border-left: 1px solid var(--mona-border-color);
        }
        &:nth-child(even) {
            border-right: 1px solid var(--mona-border-color);
        }
    }
}

div.mona-range-slider-vertical {
    & span.mona-range-slider-tick {
        &:first-child {
            border-left: none;
            border-top: 1px solid var(--mona-border-color);
        }
        &:nth-child(even) {
            border-right: none;
            border-bottom: 1px solid var(--mona-border-color);
        }
    }
}

/** Slider */
div.mona-slider {
    &.mona-disabled {
        @include disabled;
    }
}

div.mona-slider-track {
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    background-color: var(--mona-background);
}

div.mona-slider-selection {
    border: none;
    background-color: var(--mona-primary);
}

div.mona-slider-handle {
    background-color: var(--mona-primary);
    border: 1px solid var(--mona-primary-border-color);
    border-radius: var(--mona-border-radius);
    &:focus {
        box-shadow: var(--mona-focus-shadow);
    }
}

div.mona-slider-horizontal {
    & span.mona-slider-tick {
        &:first-child {
            border-left: 1px solid var(--mona-border-color);
        }
        &:nth-child(even) {
            border-right: 1px solid var(--mona-border-color);
        }
    }
}

div.mona-slider-vertical {
    & span.mona-slider-tick {
        &:first-child {
            border-left: none;
            border-top: 1px solid var(--mona-border-color);
        }
        &:nth-child(even) {
            border-right: none;
            border-bottom: 1px solid var(--mona-border-color);
        }
    }
}

/** Stepper */
div.mona-stepper-track {
    border-radius: var(--mona-border-radius);
}

ol.mona-stepper-step-list {
    @include font-medium;
}

/** Switch */
.mona-switch {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    @include font-medium;

    &.mona-disabled {
        @include disabled;
    }

    &.mona-switch-active {
        & .mona-switch-handle {
            background-color: var(--mona-primary);
            border-color: var(--mona-primary-border-color);
        }
    }
}

.mona-switch-label {
    color: var(--mona-text);
}

.mona-switch-handle {
    background-color: var(--mona-background-light);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    transition: box-shadow 0.15s ease-in;
    &:active:not(:disabled),
    &:focus-within:not(:disabled),
    &:focus:not(:disabled) {
        box-shadow: var(--mona-focus-shadow);
    }
}

/** Text Area */
textarea[monaTextArea] {
    padding: 4px;
    background-color: var(--mona-background);
    color: var(--mona-text);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    outline: none;
    overflow: auto;
    resize: both;
    transition: box-shadow 0.15s ease-in-out;
    &:focus:not(:disabled),
    &:focus-within:not(:disabled),
    &:active:not(:disabled) {
        box-shadow: var(--mona-focus-shadow);
    }
    &[disabled] {
        @include disabled;
    }
    @include scrollbars;
}

/** Text Box */

input[monaTextBox] {
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    outline: none;
    background-color: var(--mona-background);
    color: var(--mona-text);
    transition: box-shadow 0.15s ease-in-out;
    padding: 4px 8px;
    @include font-medium;

    &:focus:not(:disabled),
    &:focus-within:not(:disabled),
    &:active:not(:disabled) {
        box-shadow: var(--mona-focus-shadow);
    }
    &[disabled] {
        @include disabled;
    }
}

input[monaTextBox].mona-input-inner {
    border: 0;
    outline: 0;
    flex: 1;
    box-shadow: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mona-text-box {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    transition: box-shadow 0.15s ease-in-out;
    height: 100%;
    width: 100%;
    &:active, &:focus, &:focus-within {
        box-shadow: var(--mona-focus-shadow);
    }
    & span.mona-text-box-prefix,
    & span.mona-text-box-suffix {
        color: var(--mona-text);
        &.mona-disabled {
            @include disabled;
        }
    }
}

button[monaButton].mona-input-button {
    &:hover, &:focus, &:active {
        background: none !important;
        box-shadow: none !important;
    }
    border-width: 0;
    aspect-ratio: auto;
}

.mona-dropdown-list-input-button {
    background-color: transparent !important;
}

/** Layouts */

/** Expansion Panel */

mona-expansion-panel + mona-expansion-panel {
    & .mona-expansion-panel {
        border-top: none !important;
        border-radius: 0 !important;
    }
}

.mona-expansion-panel-header {
    @include font-medium;
}

/** Field Set */
fieldset.mona-fieldset {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    color: var(--mona-text);
}

legend.mona-fieldset-legend {
    background-color: var(--mona-background-dark);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    color: var(--mona-text);
    font-weight: bold;
    @include font-medium;
}

/** Placeholder */
.mona-placeholder {
    & span.mona-placeholder-text {
        color: var(--mona-text);
        filter: brightness(0.5);
    }
}

/** Scroll View */
div.mona-scroll-view-arrow {
    & fa-icon {
        color: white;
        filter: drop-shadow(0 0 15px #000);
    }
}

div.mona-scroll-view-pager {
    &-dark {
        border-top: 1px solid var(--mona-border-color);
        background-color: hsla(var(--mona-background-base), var(--mona-background-base-lightness), 60%);
    }
    &-light {
        border-top: 1px solid var(--mona-border-color);
        background-color: hsla(var(--mona-background-base), var(--mona-background-base-lightness), 20%);
    }
}

ul.mona-scroll-view-pager-list {
    & li {
        border: 1px solid var(--mona-border-color);
        background-color: white;
        &.mona-scroll-view-active-page {
            background-color: var(--mona-primary);
        }
    }
}

div.mona-scroll-view-pager-arrow {
    @include font-medium;
    & fa-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        filter: drop-shadow(0 0 15px #000);
    }
}

/** Tab Strip */
div.mona-tab-strip {
    border: 1px solid var(--mona-border-color);
}
div.mona-tab-strip-tabs {
    background: 1px solid var(--mona-background-dark);
    border-bottom: 1px solid var(--mona-border-color);
}
div.mona-tab-list-wrapper {
    background: var(--mona-background-dark);
}
ul.mona-tab-list {
    @include font-medium;
    & li {
        color: var(--mona-text);
        border-right: 1px solid var(--mona-border-color);
        &.mona-disabled {
            @include disabled;
        }
        &.mona-tab-active {
            background: var(--mona-background);
            color: var(--mona-primary-light);
        }
        & .mona-tab-title:hover {
            color: var(--mona-primary-light);
        }
    }
}
div.mona-tab-strip-scroll {
    background: var(--mona-background-dark);
    color: var(--mona-text);
    & button[monaButton] {
        color: var(--mona-text);
        background: transparent;
        box-shadow: none;
        &:hover {
            background-color: var(--mona-background-hover);
        }
    }
}

/** List Box */
.mona-list-box {
    &.mona-list-box-horizontal {
        & .mona-list-view {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    &.mona-list-box-vertical {
        & .mona-list-view {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    &.mona-list-box-horizontal-reverse {
        & .mona-list-view {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    &.mona-list-box-vertical-reverse {
        & .mona-list-view {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

.mona-list-box-toolbar {
    background: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    &-horizontal {
        border-left-color: transparent;
        border-top-right-radius: var(--mona-border-radius);
        border-bottom-right-radius: var(--mona-border-radius);
    }
    &-vertical {
        border-top-color: transparent;
        border-bottom-left-radius: var(--mona-border-radius);
        border-bottom-right-radius: var(--mona-border-radius);
    }
    &-horizontal-reverse {
        border-right-color: transparent;
        border-top-left-radius: var(--mona-border-radius);
        border-bottom-left-radius: var(--mona-border-radius);
    }
    &-vertical-reverse {
        border-bottom-color: transparent;

        border-top-left-radius: var(--mona-border-radius);
        border-top-right-radius: var(--mona-border-radius);
    }
}

/** List View */
.mona-list-view {
    @include font-medium;
    color: var(--mona-text);
    background: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
}

.mona-list-view-content {
    &, & .cdk-virtual-scrollable {
        @include scrollbars-thin;
    }
}

.mona-list-view-list {
    & li {
        &.mona-focused {
            box-shadow: 0 0 0 1px var(--mona-focus-border-color) inset;
        }
        &.mona-selected {
            background-color: var(--mona-primary);
            color: var(--mona-text-inverted);
        }
    }
}

.mona-list-view-pager {
    & .mona-pager {
        border: none;
    }
}

.mona-list-view-group-header {
    background: var(--mona-background-dark);
    border-bottom: 1px solid var(--mona-border-color);
    user-select: none;
    &:not(:first-child) {
        border-top: 1px solid var(--mona-border-color);
    }
}

/** Menu */
/** Context Menu */
.mona-contextmenu-content {
    user-select: none;
    overflow: hidden;
    //padding: 4px 0 !important;
    //background: var(--mona-background);
    //border: 1px solid var(--mona-border-color);
}

.mona-contextmenu-item {
    @include font-medium;
    &:hover {
        background-color: var(--mona-background-hover);
    }
    &:active {
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
    }
}

ul.mona-contextmenu-list {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    padding: 4px 0;
}

.mona-contextmenu-list-item {
    &.mona-disabled {
        @include disabled;
        background-color: inherit;
    }
    &.mona-focused {
        background-color: var(--mona-background-dark);
        &:focus, &:focus-within {
            //transition: box-shadow 0.15s ease-in;
            box-shadow: var(--mona-focus-shadow);
        }
    }
}

/** Menu Bar */
ul.mona-menubar {
    background: var(--mona-background);
    border-bottom: 1px solid var(--mona-border-color);
    @include font-medium;
    & li {
        color: var(--mona-text);
        &.mona-active {
            background-color: var(--mona-primary);
            color: var(--mona-text-inverted);
        }
        &.mona-disabled {
            @include disabled;
        }
        &:hover:not(.mona-active) {
            background-color: var(--mona-background-hover);
        }
    }
}

/** Navigation */

/** Breadcrumb */
ol.mona-breadcrumb {
    color: var(--mona-text);
    @include font-medium;
}

.mona-breadcrumb-item {
    & .mona-disabled {
        @include disabled;
    }
}


/** Notification */
div.mona-notification-container {
    @include font-medium;
}

div.mona-notification-icon {
    & fa-icon svg {
        font-size: 20px;
    }
}

div.mona-notification-progress {
    & .mona-progress-bar {
        border: none;
    }
}

/** Pager */
.mona-pager {
    background: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    color: var(--mona-text);
    & mona-numeric-text-box input {
        text-align: center;
        background: var(--mona-background-light);
    }
}


/** Popup */
.mona-popup-content {
    color: var(--mona-text);
    @include scrollbars;
}

.mona-popup-wrapper-host {
    //background: var(--mona-background);
    //border: 1px solid var(--mona-border-color);
    box-shadow: var(--mona-popup-shadow);
    transition: box-shadow 0.2s ease-out;
}

.mona-popup-wrapper {
    transform-origin: 50% 0%;
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    @include scrollbars;
}

/** Progress Bar */
.mona-progress-bar {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    height: 22px;
    &.mona-disabled {
        @include disabled;
    }
}

div.mona-progress-bar-track {
    color: white; // TODO: replace with css variable
    &-next {
        background-color: var(--mona-background);
        color: var(--mona-text);
        border-radius: var(--mona-border-radius);
    }
    &-prev {
        border-radius: var(--mona-border-radius);
        &-empty {
            border-radius: calc(var(--mona-border-radius) * 2);
        }
    }
}

div.mona-progress-bar-indeterminate {
    background: repeating-linear-gradient(135deg, var(--mona-background), var(--mona-background) 10px, var(--mona-background-dark) 10px, var(--mona-background-dark) 20px);
}

.mona-circular-progress-bar {
    & .mona-circular-progress-bar-label {
        color: var(--mona-text);
        user-select: none;
    }
    &.mona-disabled {
        @include disabled;
    }
}

/** Tooltips */
div.mona-tooltip-arrow,
div.mona-popover-arrow {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    position: absolute;
    pointer-events: none;
    background: var(--mona-background);
    transform-origin: center;
    transform: rotate(45deg);
    z-index: 0;

    &.bottom {
        top: -6px;
        left: calc(50% - 6px);
        border-left: 1px solid var(--mona-border-color);
        border-top: 1px solid var(--mona-border-color);
        clip-path: inset(0 1px 1px 0);
    }

    &.top {
        bottom: -6px;
        left: calc(50% - 6px);
        border-right: 1px solid var(--mona-border-color);
        border-bottom: 1px solid var(--mona-border-color);
        clip-path: inset(1px 0 0 1px);
    }

    &.right {
        left: -6px;
        top: calc(50% - 6px);
        border-left: 1px solid var(--mona-border-color);
        border-bottom: 1px solid var(--mona-border-color);
        clip-path: inset(1px 1px 0 0);
    }

    &.left {
        right: -6px;
        top: calc(50% - 6px);
        border-right: 1px solid var(--mona-border-color);
        border-top: 1px solid var(--mona-border-color);
        clip-path: inset(0 0 1px 1px);
    }
}

/** Popover */
.mona-popover-popup-wrapper {
    overflow: initial !important;
}

.mona-popover-popup-content {
    color: var(--mona-text);
    padding: 0 !important;
}

div.mona-popover-title {
    border-bottom: 1px solid var(--mona-border-color-light);
}

div.mona-popover-footer {
    border-top: 1px solid var(--mona-border-color-light);
}

/** Tooltip */

.mona-tooltip-popup-wrapper {
    overflow: initial !important;
}

.mona-tooltip-popup-content {
    background-color: var(--mona-background);
    color: var(--mona-text);
    padding: 0 !important;
    box-shadow: var(--mona-popup-shadow);
}

.mona-invisible-tooltip {
    visibility: hidden;
}


/** TreeView */
.mona-tree-view {
    @include font-medium;
}
.mona-tree-view-node {
    & .mona-disabled {
        @include disabled;
    }
}

.mona-tree-view-node-focused {
    box-shadow: 0 0 0 1px var(--mona-focus-border-color);
}

div.mona-tree-view-node-text {
    color: var(--mona-text);
    &:hover:not(.mona-tree-view-node-selected) {
        background-color: var(--mona-background-hover-darker);
        box-shadow: 0 0 0 1px var(--mona-border-color-dark);
    }
    &:active:not(.mona-tree-view-node-selected) {
        background-color: var(--mona-background-active-darker);
        box-shadow: 0 0 0 1px var(--mona-border-color-dark);
    }
}

div.mona-tree-view-node-selected {
    background-color: var(--mona-primary);
    color: var(--mona-text-inverted);
    box-shadow: 0 0 0 1px var(--mona-selected-border-color);
}

div.mona-tree-view-node-dropping {
    background-color: var(--mona-primary);
    color: var(--mona-text-inverted);
    box-shadow: 0 0 0 1px var(--mona-primary-dark);
}

.mona-tree-view-node-dragging {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    border-radius: var(--mona-border-radius);
    box-shadow: var(--mona-popup-shadow);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mona-text);
    top: 10px;
    & fa-icon {
        margin-right: 4px;
    }
}

/** Window */

.mona-window-title-bar {
    border-bottom: 1px solid var(--mona-border-color);
    background-color: var(--mona-window-header-background);
    @include font-medium;
}

.mona-window-content-container {
    border: 1px solid var(--mona-border-color);
    box-shadow: var(--mona-popup-shadow);
}

.mona-window-content {
    background-color: var(--mona-window-background);
}

.mona-window-invisible {
    visibility: hidden;
}

.mona-window-overlay {
    background-color: rgba(0, 0, 0, 0.41);
}

.mona-window-popup-content {
    padding: 0 !important;
    position: absolute !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.mona-dialog-window {
    & .mona-window-content {
        padding: 0 !important;
    }
}
