@import '@angular/cdk/overlay-prebuilt.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    background: var(--mona-primary) !important;
    color: var(--mona-text-inverted) !important;
}

::selection {
    background: var(--mona-primary) !important;
    color: var(--mona-text-inverted) !important;
}

input, textarea, button {
    font-family: inherit
}

@mixin active-background {
    &:active {
        background-color: var(--mona-background-active);
    }
}

@mixin background-transition {
    &, &:hover, &:focus {
        transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
}

@mixin disabled {
    pointer-events: none;
    opacity: 0.37;
    cursor: default;
    user-select: none;
}

@mixin focus-transition {
    &:focus, &:focus-within {
        transition: box-shadow 0.15s ease-in-out;
    }
}

@mixin focus-shadow {
    &:focus, &:focus-within {
        box-shadow: 0 0 2px 0 var(--mona-shadow-color);
    }
}

@mixin focus-styles {
    @include focus-shadow;
    @include focus-transition;
}

@mixin font-small {
    font-size: 12px;
    line-height: 1.667;
}

@mixin font-medium {
    font-size: 14px;
    line-height: 1.428571429;
}

@mixin hover-background {
    &:hover {
        background-color: var(--mona-background-hover);
    }
}

@mixin scrollbars {
    scrollbar-color: var(--mona-scrollbar-thumb) var(--mona-scrollbar-track);
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background: var(--mona-scrollbar-track);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--mona-scrollbar-thumb);
        &:hover {
            background-color: var(--mona-scrollbar-thumb-hover);
        }
    }
    &::-webkit-scrollbar-corner {
        background: var(--mona-background-dark);
    }
}

@mixin scrollbars-thin {
    scrollbar-width: thin;
    @include scrollbars;
}

@mixin scrollbars-thick {
    @include scrollbars;
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
}

/** General **/
.mona-no-animation {
    &, & * {
        transition: none !important;
    }
}

.mona-focused {
    @include focus-shadow;
}

.mona-hidden {
    display: none;
}

.mona-unselectable {
    &, & * {
        pointer-events: none !important;
        cursor: default;
        user-select: none !important;
    }
}

/** Shared Components **/
.mona-input-selector {
    width: auto;
    border: 1px solid var(--mona-border-color);
    background: var(--mona-background);
    color: var(--mona-text);
    cursor: pointer;
    display: flex;
    outline: none;
    @include hover-background;
    @include active-background;
    @include focus-shadow;
}

.mona-input-selector-value {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 4px 8px;
    flex: 1;
    overflow: hidden;
    & > span {
        overflow: hidden;
        text-overflow: ellipsis;
        &::before {
            content: "\200b";
        }
    }
    & > mona-text-box {
        height: 100%;
        & div.mona-text-box {
            border-top: none;
            border-bottom: none;
        }
    }
}

.mona-input-selector-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mona-text);
}

ul.mona-list {
    & li {
        @include hover-background;
        color: var(--mona-text);

        &:active:not(.mona-selected) {
            @include active-background;
        }

        &.mona-selected {
            background-color: var(--mona-primary);
            color: var(--mona-text-inverted);
        }

        // TODO: Update this to a better visual style
        &.mona-highlighted {
            border: 1px solid darkgray;
        }

        &.mona-disabled {
            @include disabled;
        }
    }
    @include scrollbars-thin;
}

li.mona-list-group-header {
    background-color: var(--mona-background-dark);
    border-top: 1px solid var(--mona-border-color);
    border-bottom: 0.5px solid var(--mona-border-color);
}

.mona-list-popup-content {
    padding: 0 !important;
    border-top: none !important;
}

/** Buttons */

/** Button */
button[monaButton] {
    background-color: var(--mona-background);
    color: var(--mona-text);
    border: 1px solid var(--mona-border-color);
    outline: none;
    user-select: none;
    cursor: pointer;

    @include font-medium;
    padding: 4px 8px;

    transition: background-color 0.1s ease-in;

    &.mona-disabled {
        @include disabled;
    }

    &:hover {
        background-color: var(--mona-background-hover);
    }
    &:active {
        background-color: var(--mona-background-active);
    }

    &.mona-primary {
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
        border-color: var(--mona-primary-border-color);
        &:hover {
            background-color: var(--mona-primary-hover);
        }
        &:active {
            background-color: var(--mona-primary-active);
        }
    }

    &.mona-flat {
        background-color: transparent;
        border-color: transparent;
        &:hover {
            background-color: var(--mona-background-hover-dark);
        }
        &:active {
            background-color: var(--mona-background-active-dark);
        }
    }

    &.mona-selected {
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
        border-color: var(--mona-selected-border-color);
        &:hover {
            background-color: var(--mona-primary-hover);
        }
        &:active {
            background-color: var(--mona-primary-active);
        }
    }


    @include focus-styles;
}

/** Button Group */
mona-button-group button[monaButton] {
    &:not(:last-child) {
        border-right: none;
    }
}

/** Chip */
.mona-chip {
    background-color: var(--mona-background);
    color: var(--mona-text);
    border: 1px solid var(--mona-border-color);

    & .mona-chip-content {
        font-size: 12px;
        line-height: 1;
    }

    &.mona-disabled {
        @include disabled;
    }

    @include focus-styles;
}

.mona-chip-close {
    background-color: var(--mona-background-dark);
    color: var(--mona-text);
    border-left: 1px solid var(--mona-border-color);
    //font-size: 14px;

    @include background-transition;
    @include hover-background;
    @include active-background;
}

/** Split Button */
.mona-split-button-popup {
    & ul li {
        height: 30px !important;
    }
}


/** Dropdowns */

mona-popup-list-item {
    @include font-medium;
}

.mona-dropdown {
    @include font-medium;
    @include focus-styles;
    display: inline-flex;
    border: 1px solid var(--mona-border-color);
    background: var(--mona-background);
    &.mona-disabled {
        @include disabled;
    }
}

.mona-input-clear-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    cursor: pointer;
    color: var(--mona-text);
    @include font-small;
    &:hover {
        color: var(--mona-text-light);
    }
}

/** Auto Complete */
.mona-auto-complete {
    & .mona-input-selector-value {
        padding: 0;
        & mona-text-box {
            box-shadow: none;
            & div:first-child {
                border-left: none;
                border-right: none;
            }
            & input {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    & .mona-input-selector-icon {
        border-left: 1px solid var(--mona-border-color);
    }
}

/** Combo Box */
.mona-combo-box {
    & .mona-input-selector-value {
        padding: 0;
        & mona-text-box {
            box-shadow: none;
            & div:first-child {
                border-left: none;
                border-right: none;
            }
            & input {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    & .mona-input-selector-icon {
        border-left: 1px solid var(--mona-border-color);
    }
}

/** Calendar */
.mona-calendar {
    background: var(--mona-background);
    color: var(--mona-text);
    @include font-medium;
    & table {
        & td {
            @include hover-background;
            @include active-background;
            &.mona-selected {
                background-color: var(--mona-primary);
                color: var(--mona-text-inverted);
            }
            &.mona-disabled {
                @include disabled;
            }
        }
    }
}

table.mona-calendar-month-view-table {
    & thead {
        @include font-small;
    }
}

/** Date Picker */
.mona-date-picker,
.mona-date-time-picker,
.mona-time-picker,
.mona-time-selector {
    &.mona-disabled {
        @include disabled;
    }
    & mona-text-box {
        width: 100%;
        & input[monaTextBox] {
            padding: 4.5px 8px;
        }
        & button[monaButton] {
            padding: 0.25em 0.5em;
        }
    }
}

.mona-date-input-popup {
    flex-direction: column;
    border-top: none !important;
    padding: 8px !important;
    & mona-calendar  {
        & div.mona-calendar-month-view,
        & div.mona-calendar-year-view,
        & div.mona-calendar-decade-view {
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
        }
    }
}

/** Time Selector */
div.mona-time-selector {
    & mona-button-group {
        & button {
            padding: 0 8px;
        }
    }
    & ol {
        @include scrollbars;
        font-size: 14px;
        user-select: none;
        & li {
            cursor: pointer;
            &.mona-selected {
                background-color: var(--mona-primary);
                color: var(--mona-text-inverted);
            }
            &:not(.mona-selected):hover {
                @include hover-background;
            }
        }
    }
}

div.mona-time-picker-popup {
    border-top: none !important;
    padding: 0 !important;
}

/** Dropdown List */
.mona-dropdown-list {
    & .mona-dropdown-value {
        color: var(--mona-text);
    }
}

.mona-dropdown-no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    //font-size: 14px;
    color: var(--mona-disabled-color);
}

.mona-dropdown-popup-content {
    flex-direction: column;
    user-select: none;
    padding: 0 !important;
    overflow: hidden auto;
    max-height: 250px;

    & mona-text-box.filter-box {
        & div.mona-text-box {
            border: none;
            & > span {
                border-right: none;
            }
        }
    }

    @include scrollbars;
}

.mona-dropdown-popup-content-bottom {
    border-top: 1px solid transparent !important;
}

.mona-dropdown-popup-content-top {
    border-bottom: 1px solid transparent !important;
    box-shadow: 0 -3px 10px -3px var(--mona-shadow-color) !important;
}

/** Multi Select */
.mona-multi-select {
    & .mona-input-selector {
        &:hover,
        &:active {
            background-color: var(--mona-background);
        }
    }
    & .mona-input-selector-value {
        & mona-text-box {
            box-shadow: none;
            & div:first-child {
                border: none;
            }
        }
        & mona-chip {
            //height: calc(100% - 2px);
            & div.mona-chip {
                margin-top: 0.5px;
            }
        }
    }
    & .mona-input-selector-icon {
        border-left: 1px solid var(--mona-border-color);
    }
}

/** Filters */
div.mona-filter-menu-item {
    & mona-button-group {
        & button {
            flex: 1;
        }
    }
}


/** Grid */
.mona-grid {
    color: var(--mona-text);
    @include font-medium;
    & mona-pager {
        & .mona-pager {
            border: none;
            border-top: 1px solid var(--mona-border-color);
        }
    }
}

.mona-grid-list {
    @include scrollbars-thick;
    & tr {
        &.mona-selected {
            background-color: var(--mona-primary) !important;
            color: var(--mona-text-inverted) !important;
            & td {
                &:focus,
                &:focus-within {
                    & div.mona-grid-cell {
                        &:not(.mona-grid-cell-editing) {
                            outline: none;
                            box-shadow: 0 0 0 1px var(--mona-primary-dark) inset;
                        }
                    }
                }
            }
        }
    }
    & td {
        &:focus,
        &:focus-within {
            & div.mona-grid-cell {
                outline: none;
                box-shadow: 0 0 0 1px var(--mona-primary) inset;
            }
        }
    }
}

button.mona-grid-filtered {
    color: var(--mona-primary-light);
}


.mona-grid-filter-menu-popup-content {
    padding: 0 !important;
    background: var(--mona-background-dark) !important;
}

.mona-grid-column-drag-preview {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    box-shadow: var(--mona-popup-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mona-text);
}

.mona-grid-cell-editing {
    & mona-text-box {
        & div.mona-text-box {
            border: none;
        }
        & input {
            padding-left: 10px;
            padding-right: 10px;
            background: var(--mona-background-lighter);
        }
    }

    & mona-numeric-text-box {
        & div.mona-numeric-text-box {
            border: none;
        }
        & input {
            padding-left: 10px;
            padding-right: 10px;
            background: var(--mona-background-lighter);
        }
    }
}



/** Inputs */

/** Check Box */
input[type="checkbox"][monaCheckBox] {
    display: none;
    & + label {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--mona-text);
        //font-size: 1rem;
        user-select: none;
        &:before {
            content: "\2714";
            background-color: var(--mona-background);
            border: 1px solid var(--mona-border-color);
            border-radius: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            margin-right: 4px;
            //padding-bottom: 3px;
            vertical-align: middle;
            color: transparent;
            transition:background-color 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out;
        }
        &:active:before:not(:disabled) {
            box-shadow: 0 0 10px -3px var(--mona-shadow-color);
        }
    }
    &:checked + label:before {
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
        border-color: var(--mona-selected-border-color);
    }
    &:disabled + label {
        cursor: default;
        pointer-events: none;
    }
    &:disabled + label:before {
        cursor: default;
        pointer-events: none;
        @include disabled;
        border: 1px solid var(--mona-border-color);
    }
    &:checked:disabled + label:before {
        background-color: var(--mona-disabled-color);
        color: var(--mona-disabled-color);
        @include disabled;
        border: 1px solid var(--mona-border-color);
    }
    &:indeterminate + label:before {
        content: " ";
        background-color: var(--mona-primary);
        color: var(--mona-background);
        border: 1px solid var(--mona-selected-border-color);
        box-shadow: inset 0 0 0 1px var(--mona-background);
    }
    &:indeterminate:disabled + label:before {
        @include disabled;
        border: 1px solid var(--mona-selected-border-color);
    }
}

/** Color Palette */
.mona-color-palette {
    //background-color: var(--mona-background);
    //border: 1px solid var(--mona-border-color);
    & > div.mona-color-cell {
        border: 2px solid black;
        &.mona-selected {
            border: 1px solid lightgray;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            margin-left: -1px;
            margin-top: -1px;
        }
        &:hover:not(.mona-selected) {
            border: 1px solid black;
        }
    }
}

/** Color Picker */
.mona-color-picker {
    border: 1px solid var(--mona-border-color);
    background: var(--mona-background);
    & > div:first-child {
        border: 1px solid black;
    }
    & > button {
        color: var(--mona-text);
    }
}

.mona-color-picker-popup {
    padding: 2px !important;
}

/** Numeric Text Box */
.mona-numeric-text-box {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    &.mona-disabled {
        @include disabled;
    }
}

/** Radio Button */
input[type="radio"][monaRadioButton] {
    display: none;
    & + label {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--mona-text);
        user-select: none;
        &:before {
            content: " ";
            background-color: var(--mona-background);
            border: 1px solid var(--mona-background);
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            margin-right: 4px;
            vertical-align: middle;
            color: transparent;
            transition: all 0.15s ease-out, border 0.05s ease-out;
        }
    }
    &:disabled + label {
        cursor: default;
        pointer-events: none;
    }
    &:disabled + label:before {
        @include disabled;
        border: 1px solid var(--mona-border-color);
    }
    &:not(:disabled) + label:before {
        border: 1px solid var(--mona-border-color);
    }
    &:checked + label:before {
        content: " ";
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
        border-width: 2px;
    }
    &:checked:disabled + label:before {
        @include disabled;
        background-color: var(--mona-primary);
        border: 2px solid var(--mona-border-color);
    }
}

/** Slider */
.mona-slider {
    @include font-medium;

    & .mona-slider-highlight {
        background-color: var(--mona-primary);
    }
    & .mona-slider-handler {
        background-color: var(--mona-primary);
        border: 1px solid var(--mona-primary-border-color);
    }
    &.mona-slider-horizontal {
        & .mona-slider-track {
            background-color: var(--mona-background);
            border: 1px solid var(--mona-border-color);
        }
        & .mona-slider-tick-list {
            & span.mona-slider-tick.mona-slider-tick-visible {
                &:first-child {
                    border-left: 1px solid var(--mona-border-color);
                }
                &:last-child {
                    border-right: 1px solid var(--mona-border-color);
                }
                &:nth-child(even) {
                    border-right: 1px solid var(--mona-border-color);
                }
            }
        }
        & .mona-slider-tick-label-list {
            & span.mona-slider-tick-label {
                color: var(--mona-text);
            }
        }
    }
    &.mona-slider-vertical {
        & .mona-slider-track {
            background-color: var(--mona-background);
            border: 1px solid var(--mona-border-color);
        }
        & .mona-slider-tick-list {
            & span.mona-slider-tick.mona-slider-tick-visible {
                &:first-child {
                    border-top: 1px solid var(--mona-border-color);
                }
                &:last-child {
                    border-bottom: 1px solid var(--mona-border-color);
                }
                &:nth-child(even) {
                    border-bottom: 1px solid var(--mona-border-color);
                }
            }
        }
        & .mona-slider-tick-label-list {
            & span.mona-slider-tick-label {
                color: var(--mona-text);
            }
        }
    }
}

/** Stepper */
ol.mona-stepper-step-list {
    @include font-medium;
}

/** Switch */
.mona-switch {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    @include font-medium;

    &.mona-switch-active {
        & .mona-switch-handle {
            background-color: var(--mona-primary);
            border-color: var(--mona-primary-border-color);
        }
    }
}

.mona-switch-label {
    color: var(--mona-text);
}

.mona-switch-handle {
    background-color: var(--mona-background-light);
    border: 1px solid var(--mona-border-color);
    &:active:not(:disabled),
    &:focus-within:not(:disabled),
    &:focus:not(:disabled) {
        box-shadow: 0 0 10px -3px var(--mona-shadow-color);
    }
}

/** Text Area */
textarea[monaTextArea] {
    padding: 4px;
    background-color: var(--mona-background);
    color: var(--mona-text);
    border: 1px solid var(--mona-border-color);
    outline: none;
    overflow: auto;
    resize: both;
    transition: box-shadow 0.15s ease-in-out;
    &:focus:not(:disabled),
    &:focus-within:not(:disabled),
    &:active:not(:disabled) {
        box-shadow: 0 0 10px -3px var(--mona-shadow-color);
    }
    &[disabled] {
        @include disabled;
    }
    @include scrollbars;
}

/** Text Box */

input[monaTextBox] {
    border: 1px solid var(--mona-border-color);
    outline: none;
    background-color: var(--mona-background);
    color: var(--mona-text);
    transition: box-shadow 0.15s ease-in-out;
    padding: 4px 8px;
    @include font-medium;

    &:focus:not(:disabled),
    &:focus-within:not(:disabled),
    &:active:not(:disabled) {
        box-shadow: 0 0 10px -3px var(--mona-shadow-color);
    }
    &[disabled] {
        @include disabled;
    }
}

input[monaTextBox].mona-input-inner {
    border: 0;
    outline: 0;
    flex: 1;
    box-shadow: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mona-text-box {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    transition: box-shadow 0.15s ease-in-out;
    height: 100%;
    width: 100%;
    &:active, &:focus, &:focus-within {
        box-shadow: 0 0 10px -3px var(--mona-shadow-color);
    }
    & span.mona-text-box-prefix,
    & span.mona-text-box-suffix {
        color: var(--mona-text);
        &.mona-disabled {
            @include disabled;
        }
    }
}

button[monaButton].mona-input-button {
    &:hover, &:focus, &:active {
        background: none !important;
        box-shadow: none !important;
    }
    border-width: 0;
    aspect-ratio: auto;
}

.mona-dropdown-list-input-button {
    background-color: transparent !important;
}

/** Layouts */

/** Expansion Panel */

mona-expansion-panel + mona-expansion-panel {
    & .mona-expansion-panel {
        border-top: none !important;
    }
}

.mona-expansion-panel-header {
    @include font-medium;
}

/** Tab Strip */
div.mona-tab-strip {
    border: 1px solid var(--mona-border-color);
}
div.mona-tab-strip-tabs {
    background: 1px solid var(--mona-background-dark);
    border-bottom: 1px solid var(--mona-border-color);
}
div.mona-tab-list-wrapper {
    background: var(--mona-background-dark);
}
ul.mona-tab-list {
    @include font-medium;
    & li {
        color: var(--mona-text);
        border-right: 1px solid var(--mona-border-color);
        &.mona-disabled {
            @include disabled;
        }
        &.mona-tab-active {
            background: var(--mona-background);
            color: var(--mona-primary-light);
        }
        & .mona-tab-title:hover {
            color: var(--mona-primary-light);
        }
    }
}
div.mona-tab-strip-scroll {
    background: var(--mona-background-dark);
    color: var(--mona-text);
    & button[monaButton] {
        color: var(--mona-text);
        background: transparent;
        @include hover-background;
        box-shadow: none;
    }
}

/** Menu */
/** Context Menu */
.mona-contextmenu-content {
    user-select: none;
    padding: 4px 0 !important;
}

.mona-contextmenu-item {
    @include font-medium;
    @include hover-background;
    @include background-transition;
    &:active {
        background-color: var(--mona-primary);
        color: var(--mona-text-inverted);
    }
}

.mona-contextmenu-list-item {
    &.mona-disabled {
        @include disabled;
        background-color: inherit;
    }
    &.mona-focused {
        background-color: var(--mona-background-dark);
    }
}

/** Menu Bar */
ul.mona-menubar {
    background: var(--mona-background);
    border-bottom: 1px solid var(--mona-border-color);
    @include font-medium;
    & li {
        color: var(--mona-text);
        &.mona-active {
            background-color: var(--mona-primary);
            color: var(--mona-text-inverted);
        }
        &.mona-disabled {
            @include disabled;
        }
        &:hover:not(.mona-active) {
            @include hover-background;
        }
    }
}

/** Notification */
div.mona-notification-container {
    @include font-medium;
}

div.mona-notification-icon {
    & fa-icon svg {
        font-size: 20px;
    }
}

div.mona-notification-progress {
    & .mona-progress-bar {
        border: none;
    }
}

/** Pager */
.mona-pager {
    background: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    color: var(--mona-text);
    & mona-numeric-text-box input {
        text-align: center;
        background: var(--mona-background-light);
    }
}


/** Popup */
.mona-popup-content {
    background-color: var(--mona-background);
    color: var(--mona-text);
    border: 1px solid var(--mona-border-color);
    padding: 8px 10px;
    box-shadow: var(--mona-popup-shadow);
    @include scrollbars;
}

/** Progress Bar */
.mona-progress-bar {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    height: 22px;
    &.mona-disabled {
        @include disabled;
    }
}

div.mona-progress-bar-track {
    color: white; // TODO: replace with css variable
    &-next {
        background-color: var(--mona-background);
        color: var(--mona-text);
    }
}

div.mona-progress-bar-indeterminate {
    background: repeating-linear-gradient(135deg, var(--mona-background), var(--mona-background) 10px, var(--mona-background-dark) 10px, var(--mona-background-dark) 20px);
}

.mona-circular-progress-bar {
    & .mona-circular-progress-bar-label {
        color: var(--mona-text);
        user-select: none;
    }
    &.mona-disabled {
        @include disabled;
    }
}

/** Tooltip */
.mona-tooltip-popup-content {
    background-color: var(--mona-background);
    color: var(--mona-text);
    border: 1px solid var(--mona-border-color);
    padding: 0 !important;
    box-shadow: var(--mona-popup-shadow);
}

.mona-invisible-tooltip {
    position: absolute !important;
    z-index: -999;
    top: -9999px;
}


/** TreeView */
.mona-tree-view {
    @include font-medium;
}
.mona-tree-view-node {
    &.mona-disabled {
        @include disabled;
    }
}

.mona-tree-view-node-focused {
    box-shadow: 0 0 0 1px var(--mona-selected-border-color);
}

div.mona-tree-view-node-text {
    color: var(--mona-text);
}

div.mona-tree-view-node-selected {
    background-color: var(--mona-primary);
    color: var(--mona-text-inverted);
    box-shadow: 0 0 0 1px var(--mona-primary-dark);
}

div.mona-tree-view-node-dropping {
    background-color: var(--mona-primary);
    color: var(--mona-text-inverted);
    box-shadow: 0 0 0 1px var(--mona-primary-dark);
}

.mona-tree-view-node-dragging {
    background-color: var(--mona-background);
    border: 1px solid var(--mona-border-color);
    box-shadow: var(--mona-popup-shadow);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mona-text);
    font-weight: bold;
    top: 10px;
    & fa-icon {
        margin-right: 4px;
    }
}

/** Window */

.mona-window-title-bar {
    border-bottom: 1px solid var(--mona-border-color);
    background-color: var(--mona-window-header-background);
    @include font-medium;
}

.mona-window-content {
    background-color: var(--mona-window-background);
}

.mona-window-invisible {
    visibility: hidden;
}

.mona-window-overlay {
    background-color: rgba(0, 0, 0, 0.41);
}

.mona-window-popup-content {
    padding: 0 !important;
    position: absolute !important;
}

.mona-dialog-window {
    & .mona-window-content {
        padding: 0 !important;
    }
}
